{% load humanize %}
{% load sec_filters %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Oneconsole | Events</title>
    <link rel="stylesheet" type="text/css" href="/static/asset/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/static/asset/bootstrap-select.min.js">
    {% include "components/css.html"%}
    <style>
      .dataTables_wrapper .dataTables_filter {
      color: #333333;
      margin-top: 5px;
      }
    </style>
  </head>
  <body class="fixed" style="font-size:13px">

    {% if "Customer_Dashboard" in request.session.logged_user_priv %}
        {% include "components/cust_header.html"%}
    {% else %}
        {% include "components/header.html"%}
    {% endif %}

        <div class="wrapper">
          {% include "side_bar/customer.html"%}

          <div class="rightside">
            <div class="page-head" style="margin-top:10px">
                <h1  class="text-thin">Threat Management | <small>All Events</small></h1>
                <ol class="breadcrumb">
                   <li>You are here:</li>
                    <li><a href="/">Home</a></li>
                    <li class=""><a href="/dashboard/index/">Threat Management</a></li>
                    <li class=""><a href="/security/dashboard">Events</a></li>
                    <li class="active">All</li>
                </ol>
            </div>

            <div class="content">
              {% if messages %}
                <ul >
                {% for message in messages %}
                {% if message.tags == 'success' %}
                  <div class="alert alert-success" >{{ message|safe }}</div>
                    {% else %}
                  <div class="alert alert-danger" >{{ message|safe }}</div>
                  {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
              <!-- <div class="row">
                <div class="col-md-4 col-md-offset-8">
                  <a class="btn btn-info pull-right" href="/security/dashboard">Dashboard</a>
                </div>
              </div> -->                      

                  <!-- Active events tab -->                          
                  <div class="row">
                      <div class="col-sm-12">
                        <div class="panel">
                          <!-- <div class="panel-title" style="text-align:center">Attacking Data Analysis</div> -->
                          <div class="panel-body">
                            <!-- <span class="col-md-12 text-center"><h4>One Month</h4></span> -->
                            <div class="row">
                              <div class="col-sm-12">
                                <table class="table table-striped" id="table_id" class="display">
                                      <thead>
                                        <tr>
                                          <th>Target IP</th>
                                          <th>Event Data</th>
                                          <th>Event Record Time</th>
                                          <th>Alert Level</th>
                                          <th>Source IP</th>
                                          <th>ID</th>
                                          <th>Ticket</th>
                                          <th class="hidden"></th>          
                                        </tr>
                                      </thead>   
                                      <tbody>                                
                                      </tbody>
                                    </table>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                  </div>
                         
                <!--End Active events tab -->
                    
               

                <!-- <div class="col-sm-2" style="margin-top:0px">  
                    <div >
                    <a class="btn btn-info" style="margin-top:3px;width:100%" href="/create/api" ><i  ></i><span class="text" > Create API key </span></a>
                    </div>
                    
              </div> -->
              </div>
            </div>
          </div>
        </div>
    {% if "Customer_Dashboard" in request.session.logged_user_priv %}
      {% include "components/customer_footer.html"%}
      {% else %}
      {% include "components/footer.html"%}
      {% endif %}

    <!-- <div class="modal fade" id="event_popup"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog" style="width:60%;">
          <div class="modal-content">
            <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="row" id="chart_change_div">
                  <ul  class="test2 nav nav-pills nav-justified">
                    <li class="active"><a data-toggle="pill" href="#tab1">Event Details<b style="font-size:20px;" id="src_ip"></b></a></li>                      
                  </ul>

                  <div class="row">
                      <div class="col-sm-12" id="event_summary_pop" style="margin:0px 0px 7px 15px;">
                      </div>
                      <div class="col-sm-12" id="event_srcip_pop" style="margin:0px 0px 7px 15px;">
                      </div>
                      <div class="col-sm-12" id="event_destip_pop" style="margin:0px 0px 7px 15px;">
                      </div>
                      <div class="col-sm-12" id="event_time_pop" style="margin:0px 0px 7px 15px;">
                      </div>
                      <div class="col-sm-12" id="event_altert_pop" style="margin:0px 0px 7px 15px;">
                      </div>
                       <div class="col-sm-12" id="event_ticket_pop" style="margin:0px 0px 7px 15px;">
                      </div>
                  </div>
              </div>
            </div>
          
            <div class="modal-footer" style="border:0px">
            </div>
            </div>
        </div>
    </div> -->

    <!--Event Details Modal-->
    <div class="modal fade" id="event_popup">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Event Details</h4>
          </div>
          <div class="modal-body">
            <p>
               <div class="row">
                <div class="col-sm-12" id="event_summary_pop" style="margin:0px 0px 7px 15px;">
                </div>
                <div class="col-sm-12" id="event_srcip_pop" style="margin:0px 0px 7px 15px;">
                </div>
                <div class="col-sm-12" id="event_destip_pop" style="margin:0px 0px 7px 15px;">
                </div>
                <div class="col-sm-12" id="event_time_pop" style="margin:0px 0px 7px 15px;">
                </div>
                <div class="col-sm-12" id="event_altert_pop" style="margin:0px 0px 7px 15px;">
                </div>
                 <div class="col-sm-12" id="event_ticket_pop" style="margin:0px 0px 7px 15px;">
                </div>
              </div>  
            </p>
          </div>         
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--End Event Details -->

    
    </body>
</html>

<script type="text/javascript">
  // $('#table_id').dataTable({
  //   'bLengthChange' : false
  // });
  var data_table;
  var eventlist_checked = [];
  var source_ip_selected = "";
  var ticket_details = [];
  var level_high = ['10','11','12']
  var level_severe = ['13','14','15']
  var level_medium = ['6','7','8','9']
  var level_low = ['1','2','3','4','5']
  $(document).ready(function(){
        // if($("#table_id").hasClass('initialized')){
        //   $('#table_id').dataTable().fnDestroy();
        // }
        // else{
        //   $("#table_id").addClass('initialized');
        // }

        data_table = $('#table_id').DataTable({
              "bLengthChange": false,
              "bFilter": false,
              "bInfo": false,
              "bAutoWidth": false,
               "processing": false,
               "searching": true,
               "destroy": true,
               "ajax": {
                   "processing": true,
                   "url": "/security/eventsallreal",
                   "dataType":"json",
                   "type":"POST",
                   "data":{
                      csrfmiddlewaretoken: '{{ csrf_token }}'
                   },
                   "dataSrc": ""
               },
               "aoColumns": [ null,null,null ,null ,null ,null ,null ,{ "bVisible":    false }
                ],
               "columns": [
                       // { "": "fields.server_name" },
                       { "": "fields.0" },
                       { "": "fields.1" },
                       { "": "fields.2" },
                       { "": "fields.3" },
                        { "": "fields.4" },
                       { "": "fields.5" },
                       { "": "fields.6" },
                       { "": "field.7" },
                       ],
              "createdRow": function ( row, data, index ) {

                  if ( level_high.indexOf(data[3]) > -1 ) {
                      $('td', row).eq(3).append('<i class="label label-warning label-as-badge">High</button>')
                  }
                  if ( level_severe.indexOf(data[3]) > -1 ) {
                      $('td', row).eq(3).append('<i class="label label-danger label-as-badge">Severe</button>')
                  }
                  if ( level_medium.indexOf(data[3]) > -1 ) {
                      $('td', row).eq(3).append('<i class="label label-info label-as-badge">Medium</button>')
                  }
                  if ( level_low.indexOf(data[3]) > -1 ) {
                      $('td', row).eq(3).append('<i class="label label-success label-as-badge">Low</button>')
                  }
                  if (data[7] == true){
                    $('td', row).eq(0).prepend('<i class="label label-primary label-as-badge">New</button>')
                  }
              },
              "columnDefs": [
              {
                "targets": -2,
                "visible": false,
                "searchable": false
                },
              {
                "targets": -3,
                "visible": false,
                "searchable": false
                },
              ]   
      });     
      
      $('#info_box').text('Processing....');
      $('#processing_ticket').hide();
      $('#success_box').hide(); 
      $('#error_box').hide();
      $('#clear_box').hide();
      eventlist_checked = [];


      $('#table_id tbody').on('click', 'tr', function () {
          var data = data_table.row(this).data();
          var event_pop_destip = data[0];
          var event_pop_srcip = data[4];
          var event_pop_data = data[1];
          var event_pop_time = data[2];
          var event_pop_alert = data[3];
          var event_ticket = data[6];
          var event_ticket_id = event_ticket.substring(2);

          $('#event_summary_pop').html('<span><b>Summary:</b></span><span style="padding-left:10px;">'+event_pop_data+'</span><br />');
          $('#event_srcip_pop').html('<span><b>Source IP:</b></span><span style="padding-left:10px;">'+event_pop_srcip+'</span>&nbsp<a href="/attacks/from/'+event_pop_destip+'/'+event_pop_srcip+'/"><l class="btn btn-success btn-sm fa fa-search"></l></a><br />');

          $('#event_destip_pop').html('<span><b>Destination IP:</b></span><span style="padding-left:10px;">'+event_pop_destip+'</span><br />');

          $('#event_time_pop').html('<span><b>Time: </b></span><span style="padding-left:10px;">'+event_pop_time+'</span><br />');

          $('#event_altert_pop').html('<span><b>Alert Level: </b></span><span style="padding-left:10px;">'+event_pop_alert+'</span><br />');

          if(event_ticket == "Not yet created"){
               $('#event_ticket_pop').html('<span><b>Ticket: </b></span><span style="padding-left:10px;">Not yet created</span><br />');
          }
          else{
              $('#event_ticket_pop').html('<span><b>Ticket: </b></span><span style="padding-left:10px;"><a href="/customer/tickets/detail/'+event_ticket_id+'" target="_blank" style="color:#337ab7;">'+event_ticket+'</a></span><br />');
          }

          $('#event_popup').modal('show');
      });   

  });

  function insert_eventid(obj){
        if($(obj).is(':checked')){
            var data_values = data_table.row($(obj).closest('tr')).data();
            var event_id = data_values[5];            
            eventlist_checked.push(event_id);
            var ticket_id = data_values[6];
            if(ticket_id != "Not yet created"){
              ticket_details.push(ticket_id);
            } 
        }
        else{
            var data_values = data_table.row($(obj).closest('tr')).data();
            var event_id = data_values[5];
            var index = eventlist_checked.indexOf(event_id);
            if (index >= 0) {
              eventlist_checked.splice(index, 1);
            }
            var ticket_id = data_values[6];
            var ticket_index = ticket_details.indexOf(ticket_id);
            if(ticket_index >= 0){
              ticket_details.splice(ticket_index, 1);
            }
        }
    }

    function create_security_ticket(){        
        if(eventlist_checked.length > 0){
          var eventlist = eventlist_checked.join();
          $('#info_box').text('Processing....');
          $('#processing_ticket').show();
          $('#success_box').hide(); 
          $('#error_box').hide();
          $('#clear_box').hide();     
          $.ajax({
                  url:"/security/eventsticket",
                  type: "POST", 
                  dataType:"json",
                  data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    eventid: eventlist,                    
                  },
                  success: function(data){
                    status = data.message;
                    $('#processing_ticket').hide();
                    if(status == "success"){                       
                        $('#success_box').show();
                        datatable_reload();
                    }
                    else if(status == "error"){
                        $('#error_box').show();
                    }                                                        
                  },
                  error: function(data){
                     $('#processing_ticket').hide();
                     $('#error_box').show();
                     $('#clear_box').hide();
                     $('#success_box').hide();                     
                  }
            });
        }
        else{
            $('#info_box').text('Please select atleast one Event');
            $('#processing_ticket').show();
            $('#success_box').hide(); 
            $('#error_box').hide(); 
            $('#clear_box').hide();             
        }
    }

    function clear_event(){
        if(eventlist_checked.length > 0){
          if(confirm("Are you sure. You want to clear these selected events from this list?")){
              if(ticket_details.length == 0){
                var eventlist = eventlist_checked.join();
                $('#info_box').text('Processing....');
                $('#processing_ticket').show();
                $('#success_box').hide(); 
                $('#error_box').hide();
                $('#clear_box').hide();     
                $.ajax({
                        url:"/security/clearevent",
                        type: "POST", 
                        dataType:"json",
                        data: {
                          csrfmiddlewaretoken: '{{ csrf_token }}',
                          eventid: eventlist,                    
                        },
                        success: function(data){
                          status = data.message;
                          $('#processing_ticket').hide();
                          if(status == "success"){                       
                              $('#clear_box').show();
                              datatable_reload();
                          }
                          else if(status == "error"){
                              $('#processing_ticket').hide();
                              $('#error_box').show();
                          }                                                        
                        },
                        error: function(data){
                           $('#processing_ticket').hide();
                           $('#error_box').show();                     
                        }
                  });
              }
              else{
                  $('#info_box').text('Ticket is already existing in some of the selected events.So you are not able to clear those events');
                  $('#processing_ticket').show();
                  $('#success_box').hide(); 
                  $('#error_box').hide(); 
                  $('#clear_box').hide();   
              }
          } 

        }
        else{
            $('#info_box').text('Please select atleast one event');
            $('#processing_ticket').show();
            $('#success_box').hide(); 
            $('#error_box').hide();
        }
    }


    function datatable_reload(){
      // if($("#table_id").hasClass('initialized')){
      //     $('#table_id').dataTable().fnDestroy();
      //   }
      //   else{
      //     $("#table_id").addClass('initialized')
      //   }

        data_table = $('#table_id').DataTable({
              "bLengthChange": false,
              "bFilter": false,
              "bInfo": false,
              "bAutoWidth": false,
               "processing": true,
               "destroy": true,
               "ajax": {
                   "processing": true,
                   "url": "/security/activeeventsreal",
                   "dataType":"json",
                   "type":"POST",
                   "data":{
                      csrfmiddlewaretoken: '{{ csrf_token }}'
                   },
                   "dataSrc": ""
               },
               "columns": [
                       // { "": "fields.server_name" },
                       { "": "fields.0" },
                       { "": "fields.1" },
                       { "": "fields.2" },
                       { "": "fields.3" },
                       { "": "fields.4" },
                       { "": "fields.5" },
                       { "": "fields.6" },
                       { "": "" },                     
                   ],
              "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": "<input type='checkbox' onclick='insert_eventid(this)' name='events_action[]'>"
              },
              {
                "targets": -3,
                "visible": false,
                "searchable": false
                },
              {
                "targets": -4,
                "visible": false,
                "searchable": false
                },
              ]             
      });
      eventlist_checked = []; 
    } 

</script>