{% extends 'cloud_management/home.html'%}

{% block section_header %}
<h1>
      Download Key Pair
</h1>
<ol class="breadcrumb">
    <li><a href="{% url 'dashboard' %}">Home</a></li>
    <li><a href="/cloud_management/openstack/{{cloud_account_id}}/dashboard">dashboard</a></li>
    <li>Download Key Pair</li>
</ol>
{% endblock %}

{% block content%}

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-8">
                <h3>The key pair should download automatically. If not use the link below.</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                <a href="{% url 'generate_openstack_key_pair' cloud_account_id key_name %}">Download key pair "{{key_name}}" </a>
                </div>
                <div class="col-md-8">

                </div>
            </div>
        </div>
    </section>

{% endblock %}

