{% load humanize %}
{% load zone %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Change Management | Tasks</title>
        {% include "components/css.html"%}
        <style>
            @media screen and (max-width: 640px) {
                table {
                    overflow-x: auto;
                    display: block;
                }
            }
        </style>
        <link rel="stylesheet" type="text/css" href="/static/asset/bootstrap-select.min.css">
    </head>
    <body class="fixed" style="font-size:13px">
        {% include "components/header.html"%}
        <div class="wrapper">
            {% include "side_bar/sidebar.html"%}
            <div class="rightside">
                <div class="page-head" style="margin-top:10px">
                    <h1 class="text-thin">Change Management | <small>Tasks</small></h1>
                    <ol class="breadcrumb">
                        <li>You are here:</li>
                        <li><a href="/">Home</a></li>
                        <li class="active">Tasks</li>
                    </ol>
                </div>
                {% include "components/msg_div.html" %}
                <div class="content">
                    <div class="row">
                        <div class="panel">
                            <!-- <h4></h4> -->
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <!-- <h3 class="panel-title">Task Dashboard</h3> -->
                                    </div>
                                    <div class="col-sm-2" style="margin: 20px 0px 20px 0px;">
                                        <!-- <label class="panel-title">Filters : </label> -->
                                    </div>
                                    <div class="col-sm-4" style="margin: 20px 0px 20px 0px;">
                                        {% if filters|length > 0 %}
                                            <select class="form-control" onchange="change_tasks_dashboard()" id="task_filter">
                                                <option value="">-Choose Filter-</option>
                                                {% for filter in filters %}
                                                    <option value="{{filter.id}}" {% if filter_val == filter.id %} selected {% endif %}>{{filter.filter_name}}</option>
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!--Panel Body-->
                            <div class="panel-body">
                                <table class="table table-striped table-hover" id="table_id" cellspacing="0" width="100%" >
                                    <thead>
                                        <tr>
                                            <th>Task Id</th>
                                            <th>Taskid</th>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>Status</th>
                                            <th>Ticket</th>
                                            <th>Assigned By</th>
                                            <th>View/Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>  <!-- End row -->
                </div>  <!-- End content -->
            </div>  <!-- End right side -->
        </div>  <!-- End wrapper -->
        {% include "components/footer.html"%}
        {% include "components/service_request.html" %}
        <script>
            $(document).ready(function(){
                change_tasks_dashboard();
            });
        </script>
        <script>
            function change_tasks_dashboard(){
                var filter_value = $('#task_filter').val();
                $('#table_id').dataTable().fnDestroy();
                if (filter_value) {
                    var url_val = "/tasks/list/?filter="+filter_value;
                } else {
                    var url_val = "/tasks/list/";
                }
                $('#table_id').dataTable( {
                    "processing": true,
                    "ajax": {
                        "processing": true,
                        "url": url_val,
                        "dataSrc": ""
                    },
                    "columns": [
                            {"": "fields.id",sClass: "hidden" },
                            { "": "fields.taskid"},
                            { "": "fields.task_name" },
                            { "": "fields.description" },
                            { "": "fields.status" },
                            { "": "fields.ticket" },
                            { "": "fields.assigned_by" },
                            {"": ""},
                        ],
                        "columnDefs": [ {
                        "targets": 7,
                        "data": null,
                        "defaultContent": '<a data-toggle="tooltip" data-placement="bottom" class="btn btn-success btn-sm" data-original-title="View/Edit"><i class="fa fa-edit "> </a>'},
                    ]
               } );
            }
        </script>
        <script>
            $('#table_id tbody').on( 'click', 'td', function () {
                var th = $(this).closest('table').find('th').eq( this.cellIndex );
                if (th.html() == "View/Edit"){
                    task_id = $(this).prev().prev().prev().prev().prev().prev().prev().html();
                    document.location.href = "/task/details/"+task_id+"/";
                }
            });
        </script>
        <script type="text/javascript">
            $('#change_request_main').addClass("active");
            $('#main_change_dash').addClass("active");
            $('#change_sub_nav').css("display", "block");
            $('#task').addClass("active");
            $('#change_request_main').find('i').last().removeClass("fa-angle-right").addClass("fa-angle-down");
        </script>
    </body>
</html>
