{% load zone %}
<table class="table table-sorting table-striped table-hover datatable dataTable" cellpadding="0" cellspacing="0" width="100%" aria-describedby="visit-stat-table_info" style="width: 100%;">
    <thead>
        <tr role="row">
            <th >Uploaded by</th>
            <th> File name</th>
            <th >Time</th>
            <th >Actions</th>
        </tr>
    </thead>         
    <tbody >
        {% for act in attachments %}
            <tr class="odd">
                <td class="grey"><a  style="color:#555">{{act.uploader}}</a></td>
                <td class="grey"><a  style="color:#555">{{act.attachname}}</a></td>
                <td class="grey"><a  style="color:#555">{% tzone act.time %}</a></td>
                <td>
                    <a class="btn btn-info btn-sm" href="/media/{{act.attachment}}"   download="{{attachments.docfile}}">
                        <i class="fa fa-download "></i>                                            
                    </a>
                    <a class="btn btn-danger btn-sm" href="/attachment/delete/{{act.id}}" >
                        <i class="fa fa-trash-o "></i> 
                    </a>
                </td>
            </tr>
        {% endfor %}       
    </tbody>
</table>