{% load humanize %}
{% load zone %}
{% load sec_filters %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Oneconsole | CMDB </title>
        {% include "components/css.html"%}
        <link rel="stylesheet" href="/static/customer/css/datepicker/datepicker.css" />
        <!--<link rel="stylesheet" href="/static/customer/css/custom.css">-->
        <link rel="stylesheet" type="text/css" href="/static/asset/bootstrap-select.min.css">

    </head>
    {% if "Customer_Dashboard" in request.session.logged_user_priv %} {% include "components/cust_header.html"%} {% else %} {% include "components/header.html"%} {% endif %}
    <body class="fixed" style="font-size:13px" >
     <div class="wrapper">
            {% if "Customer_Dashboard" in request.session.logged_user_priv %}
              {% include "side_bar/customer.html"%}
            {% else %}
                {% include "side_bar/sidebar.html"%}
            {% endif %}

            <div class="rightside">
                  <div class="page-head" style="margin-top:10px">
                    <h1 class="text-thin">CMDB | <small>Configure</small></h1>
                    <ol class="breadcrumb">
                        <li>You are here:</li>
                        <li><a href="/">Home</a></li>
                        <li><a href="">CMDB</a></li>
                        <li class="active"><a href="/cmdb/cmdb_admin/" >CMDB Configuration</a></li>
                    </ol>
                   </div>
                 <ul style="padding-right: 40px;"><div class="alert alert-success" id="msg_success" hidden></div></ul>
                {% if messages %}
                <ul style="padding-right: 40px;">

                    {% for message in messages %}{% if message.tags == 'success' %}
                    <div class="alert alert-success" >{{ message|safe }}</div>
                    {% else %}
                    <div class="alert alert-danger">{{ message|safe }}</div>
                    {% endif %} {% endfor %}
                </ul>
                {% endif %}
              <div class="content">
                  <div class="box">
                      <div class="box-body">
                          {% if customers %}
                          <div class="row">
                        <form action="/cmdb/cmdb_admin/" method="get" >


                               <div class="col-md-4">
                                   <div class="col-md-12">
                                                    <p class="data-row">
                                                        <span class="data-name"><label class="">Customer *</label></span>
                                                        <span class="data-value">
                                                            <select class="form-control"  id="customer" name="customer" onchange="this.form.submit()" required="">
                                                                <option value="">-Select-</option>
                                                                {% for customer in customers %}
                                                                    {% if customer.customer == default_customer.0 %}
                                                                    <option value="{{customer.customer}}" selected>{{customer.customer}}</option>
                                                                    {% else %}
                                                                    <option value="{{customer.customer}}" >{{customer.customer}}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                        </span>
                                                    </p>
                                   </div>

                                </div>

                        </form>
                              </div>
                          {% endif %}
                        <br>
                        <form action="/cmdb/cmdb_admin/" id="cmdb_form" method="post"> {% csrf_token %}
                           <div class="row">
                                  <input name="postedcustomer" id="postedcustomer" value="{{default_customer.0}}" hidden>
                                    {% if cmdb_class_obj %}
                                      <div class="col-md-4">
                                          <div class="col-md-12">
                                                    <p class="data-row">
                                                        <span class="data-name"><label class="">Class *</label></span>
                                                        <span class="data-value">
                                                            <select class="form-control"  id="cmdb_class" name="cmdb_class" required="">
                                                                <option value="">-Select-</option>
                                                                {% for cmdb_class in cmdb_class_obj %}
                                                                    <option value="{{cmdb_class.classname}}" >{{cmdb_class.classname}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </span>
                                                    </p>
                                          </div>
                                      </div>
                                    {% endif %}
                              </div>
                            <br>
                            <br>
                                <div class="row">

                                    {% for obj in cmdb_obj %}
                                            {% if obj.datatype == 'Date' %}
                                             <div class="col-md-4 pad-top">
                                                <div class="col-md-12">
                                                    <label for="date_value" class="active">{{obj.domain_name}}</label>
                                                    <input id="date_value" type="text" class="form-control" name="{{obj.domain_name}}_date_value" required>

                                                </div>
                                             </div>
                                            {% elif obj.datatype == 'Char' %}
                                             <div class="col-md-4 pad-top">
                                                <div class="col-md-12">
                                                    <label for="{{obj.domain_name}}_char_value" class="active">{{obj.domain_name}}</label>
                                                    <input id="{{obj.domain_name}}_char_value" class="form-control" type="text" name="{{obj.domain_name}}_char_value" required>

                                                </div>
                                             </div>
                                            {% elif obj.datatype == 'Integer' %}
                                             <div class="col-md-4 pad-top">
                                                <div class="col-md-12">
                                                    <label for="{{obj.domain_name}}_int_value" class="active">{{obj.domain_name}}</label>
                                                    <input id="{{obj.domain_name}}_int_value" class="form-control" type="number" step="1" name="{{obj.domain_name}}_int_value" required>

                                                </div>
                                             </div>
                                            {% elif obj.datatype == 'Float' %}
                                             <div class="col-md-4 pad-top">
                                                <div class="col-md-12">
                                                    <label for="{{obj.domain_name}}_float_value" class="active">{{obj.domain_name}}</label>
                                                    <input id="{{obj.domain_name}}_float_value" class="form-control" type="number" step=.0001 name="{{obj.domain_name}}_float_value" required>

                                                </div>
                                             </div>
                                            {% elif obj.datatype == 'Text' %}
                                             <div class="col-md-12 pad-top">
                                                <div class="col-md-12">
                                                    <label for="{{obj.domain_name}}_text_value" class="active">{{obj.domain_name}}</label>
                                                    <textarea id="{{obj.domain_name}}_text_value"  class="form-control" name="{{obj.domain_name}}_text_value" required></textarea>

                                                </div>
                                             </div>
                                            {% endif %}
                                    {% endfor %}
                          </div>

                              <div class="row pad-top" >
                                    <div class="col-md-4">
                                        <div class="col-md-6">
                                    <button class="btn btn-info pull-left " style="width:100%; " type="submit" id="submit_btn">Submit</button>
                                    </div>
                                      <div class="col-md-6"><input class="btn btn-danger pull-left " action="action" type="button" style="width:100%; " value="Cancel" onclick="this.form.reset();" />
                                            </div>
                                    </div>

                              </div>
                        </form>

                      </div>

                  </div>
              </div>

            </div>
     </div>
    {% if "Customer_Dashboard" in request.session.logged_user_priv %}
          {% include "components/customer_footer.html"%}
          {% else %}
          {% include "components/footer.html"%}
          {% endif %}

        <link href="/static/customer/date/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
        <script type="text/javascript" src="/static/customer/date/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
        <script type="text/javascript" src="/static/customer/date/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>

        <script type="text/javascript">
            $("#date_value").datepicker({ dateFormat: "yy-mm-dd" });
        </script>
        <script>
        var frm = $("#cmdb_form");
            frm.submit(function(ev){
            $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function () {
                document.getElementById("cmdb_form").reset();
                $('#msg_success').show();
                $('#msg_success').html("CMDB Item added Successfully")
        } })

        ev.preventDefault();
    });
        </script>
        <script src="/static/customer/js/plugins/datepicker/datepicker.js" type="text/javascript"></script>
        <script>
        $("#subsec").css('display', 'block');
        $("#cmdb").addClass("active");
        $("#sec_adm").addClass("active");


         </script>
    </body>
</html>