{% load humanize %}
{% load zone %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Oneconsole | Dashboard</title>
    {% include "components/asset_css.html"%}
    <link rel="stylesheet" type="text/css" href="/static/asset/bootstrap-select.min.css">
    <style>
.select-label {
  position: absolute; }

.select-wrapper {
  position: relative;
  margin-top: 15px; }
  .select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    color: #444;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    display: block; }
  .select-wrapper .mdi-navigation-arrow-drop-down {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 23px; }

select {
  display: none; }

select.browser-default {
  display: block; }

select:disabled {
  color: rgba(0, 0, 0, 0.3); }

.select-wrapper input.select-dropdown:disabled {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

.select-wrapper i {
  color: rgba(0, 0, 0, 0.3); }

.select-dropdown li.disabled {
  color: rgba(0, 0, 0, 0.3); }
  .select-dropdown li.disabled:hover {
    background-color: transparent; }

        select {
display: inline;
}

.dataTables_wrapper .dataTables_length {
    color: #333333;
    /* margin-top: -26px; */
    margin-top: -1%;
    margin-left: 1%;
}
.dataTables_wrapper .dataTables_filter {
    color: #333333;
    /* margin-top: -32px; */
    margin-top: -1%;
    margin-right: 1%;
}
a.application_host :hover{
  color: black !important;
}
    </style>
  </head>
  <body class="fixed" style="font-size:13px">

              {% if "Customer_Dashboard" in request.session.logged_user_priv %}
          {% include "components/cust_header.html"%}
          {% else %}
          {% include "components/asset_header.html"%}
          {% endif %}

        <div class="wrapper">
           {% if "Customer_Dashboard" in request.session.logged_user_priv %}
          {% include "side_bar/customer.html"%}
          {% else %}
          {% include "side_bar/asset_sidebar.html"%}
          {% endif %}

          <div class="rightside">
            <div class="page-head" style="margin-top:10px">
                <h1 class="text-thin">Infrastructure |<small> Applications</small></h1>
                <!-- <h1  class="text-thin">Applications <small></small></h1> -->
                <ol class="breadcrumb">
                   <li>You are here:</li>
                    <li><a href="/">Home</a></li>
                    <li class="active">Applications</li>
                </ol>
            </div>

            <div class="content">
              <div class="row">
                <div class="col-sm-12">
                    <a href="" class="btn btn-info pull-right" data-toggle="modal" data-target="#app_add"><l class="fa fa-plus"></l> Add Application</a>
                </div>
              </div>
              <br>
              <div class="row">
              {% for app in apps %}
                <div class="col-sm-3">
                  <a href="/management/application/{{app.id}}" class="application_host">
                   <div class="panel media pad-all">
                    <div class="media-left pull-left" style="color:#515151"  data-placement="bottom"  data-toggle="tooltip" data-original-title="{{app.classification}}" >
                      <span class="icon-wrap icon-wrap-sm icon-circle bg-default" style="background-color:#EAEAEA">
                      <i class="{{app.classification.icon}} fa-2x"></i>
                      </span>
                    </div>
                    <div class="media-body">
                      <h4 class="text-thin mar-no text-thin">{{app.app_name}}</h4>
                      {% if app.host.all %}
                      <p class="text-muted mar-no" style="margin-top:1%"><label class="label" style="color:black">Hosts</label> {{app.host.all.count}}
                      <label class="label" style="color:black">Configuration Items</label> {{app.host.all.count}}
                       </p>
                      {% else %}
                      <p class="text-muted mar-no" style="margin-top:1%"> <label class="label" style="color:black">No Hosts or Configuration Items</label> </p>
                      {% endif %}
                    </div>
                  </div>
                  </a>
                </div>
                {% endfor %}
              </div>
             <!--  <div class="row col-sm-12">
                <div class="panel">
                  <div class="panel-heading">
                    <a href="" class="btn btn-info pull-right" data-toggle="modal" data-target="#app_add"><l class="fa fa-plus"></l> Add Application</a>
                    <p class="panel-title">Application Details</p>
                  </div>
                  <div class="panel-body">
                    <table class="table table-responsive" id="app_table">
                      <thead>
                        <th >Application Name</th>
                        <th class="text-center">Application type</th>
                        <th class="text-center">Link</th>
                        <th class="text-center" style="max-width:200px">Host(s)</th>
                        <th class="text-center">Action</th>
                      </thead>
                      <tbody>
                        {% for app in apps %}
                        <tr>
                          <td>{{app.app_name}}</td>
                          <td class="text-center"><l style="color:#444343" class="{{app.classification.icon}} fa-2x" data-placement="right"  data-toggle="tooltip" data-original-title="{{app.classification}}" ></l></td>
                          <td class="text-center">{{app.link}}</td>
                          <td class="text-center" >{% for host in app.host.all %}<label class="label label-{% cycle "info" "primary" "mint" "success" %}">{{host}}</label>{% if forloop.last %}{% else %} {% endif %}{% endfor %}</td>
                          <td class="text-center"><a href="/management/application/{{app.id}}"  data-placement="bottom"  data-toggle="tooltip" data-original-title="open"> <l class="fa-2x fa fa-plus-square" style="color:#27ae60"></l></a></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>





<div class="modal fade" id="app_add" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create Infrastructure Application</h4>
      </div>
      <form action="/dashboard/index/application/addapp/" method="post" enctype="multipart/form-data" id="incident_form">{% csrf_token %}
      <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <label>Application Name</label>
              <input type="text" name="appname" class="form-control" required  maxlength="20">
            </div>
            <div class="col-sm-6">
              <label>Type of Application</label>
              <select class="form-control" name="classi" required>
                <option value="" disabled selected>-select one-</option>
                {% for class in classi %}
                <option value="{{class.id}}">{{class.name}}</option>
                {% endfor %}
              </select>
            </div>
        </div>
      </div>
      <div class="modal-footer" >
      <p class="pull-left">*Application Name contains maximum of 20 character</p>
      <button id="delay" type="submit" class="btn waves-effect waves-light btn-info btn-large" style="float:right;width:120px">Create</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>




{% include "asset/addtostock.html" %}



{% if messages %}
<div id="floating-top-right" class="floating-container" style="margin-top:4%">
{% for message in messages %}
  <div class="alert-wrap in animated jellyIn">
    <div class="alert alert-purple" role="alert">
      <button class="close" type="button">
      <i class="fa fa-times-circle"></i>
      </button>
      <div class="media">
        <div class="media-body">
          <h4 class="alert-title"></h4>
          <p class="alert-message"><strong>{{ message|safe }}</strong></p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

              





      {% if "Customer_Dashboard" in request.session.logged_user_priv %}
      {% include "components/customer_footer.html"%}
      {% else %}
      {% include "components/footer.html"%}
      {% endif %}
    <script src="/static/plain_chart/springy.js"></script>
    <script src="/static/plain_chart/springyui.js"></script>
    <script>
     $("#app_table").DataTable();

    $("#infra").addClass("active");
    $("#infraopen").css('display','block');
    $("#appview").addClass("active");
    $(".close").click(function () { 
        $("div").remove('.alert-wrap'); 

      }); 
    </script>
    <script>
    var graph = new Springy.Graph();


    {% for app in relation_list %}
    var {{app.names}} = graph.newNode  ({
      label: '{{app.names}}',
      ondoubleclick: function() { location.href ='/dashboard/index/{{app.id}}'; }
    });

    {% endfor %}

    {% for app in relations %}
    graph.newEdge({{app.obj1.name}}, {{app.obj2.name}}, {color: '{{app.relation.color_code}}', label: '{{app.relation.name}}'});
    {% endfor %}

    jQuery(function(){
      var springy = window.springy = jQuery('#springydemo').springy({
        graph: graph,
        nodeSelected: function(node){
          console.log('Node selected: ' + JSON.stringify(node.data));
        }
      });
    });
    </script>
    </body>
</html>