{% load humanize %}
{% load zone %}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Oneconsole | Dashboard</title>
    {% include "components/css.html"%}
    <link rel="stylesheet" type="text/css" href="/static/lightslider/lightslider.css">
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-mfizz.css">
    <link rel="stylesheet" type="text/css" href="/static/asset/bootstrap-select.min.css">
    <style>
    .media-left{
      float: left;
    }

      ul{
      list-style: none outside none;
        padding-left: 0;
            margin: 0;
    }
        .demo .item{
            /*margin-bottom: 60px;*/
        }
    .content-slider li{
        /*background-color: #ed3020;*/
        text-align: center;
        color: #FFF;
    }
    .content-slider h3 {
        margin: 0;
        padding: 70px 0;
    }
    .demo{
      /*width: 800px;*/
    }

    .box_rotate {
  -webkit-transform: rotate(360.5deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(360.5deg);  /* Firefox 3.5-15 */
      -ms-transform: rotate(360.5deg);  /* IE 9 */
        -o-transform: rotate(360.0deg);  /* Opera 10.50-12.00 */
         transform: rotate(360.0deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
}
.box_transition {
  -webkit-transition: all 15.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 15.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 15.3s ease-out;  /* Opera 10.50–12.00 */
          transition: all 15.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}
    </style>
  </head>
  <body class="fixed" style="font-size:13px">

      {% if "Customer_Dashboard" in request.session.logged_user_priv %}
          {% include "components/cust_header.html"%}
          {% else %}
          {% include "components/header.html"%}
          {% endif %}
    

        <div class="wrapper">
  {% if "Customer_Dashboard" in request.session.logged_user_priv %}
          {% include "side_bar/customer.html"%}
          {% else %}
          {% include "side_bar/asset_sidebar.html"%}
          {% endif %}

          <div class="rightside">
 
{% if alert_message %}
{% for alert in alert_message %}
<div class="panel-alert"><div class="alert-wrap in"><div class="alert alert-danger" style="padding: 6px;margin-bottom: 0px;border: 0px solid transparent;border-radius: 0px;" role="alert" ><div class="media" style="margin-top:0px;position:relative;" id="alert_msg"><strong>{{alert.title}}! </strong> {{alert.description}}</div></div></div></div>
{% endfor %}
{% endif %}



            <div class="page-head" style="margin-top:10px">
                <h2  class="text-thin">Infrastructure Management <small>Dashboard</small></h2>
                <ol class="breadcrumb">
                   <li>You are here:</li>
                    <li><a href="/">Home</a></li>
                    <li class="active">Infrastructure Management</li>
                </ol>
            </div>

            <div class="content">
             {% if messages %}
                  <ul>
                  {% for message in messages %}
                  {% if message.tags == 'success' %}
                    <div class="alert alert-success" >{{ message|safe }}</div>
                    {% else %}
                      <div class="alert alert-danger" >{{ message|safe }}</div>
                    {% endif %}
                    {% endfor %}
                  </ul>
              {% endif %}


<div class="row">
            <div class="col-lg-3">
          
                <div class="col-sm-12 col-lg-12">
          
                  <!--Sparkline Area Chart-->
                  <div class="panel panel-success panel-colorful text-center">
                    <div class="panel-body">
          
                      <!--Placeholder-->
                      <div id="demo-sparkline-area">
                      <l class="fa fa-laptop fa-5x"></l>
                      </div>
          
                    </div>
                    <a href="/asset/">
                    <div class="bg-light pad-ver">
                      <h4 class="mar-no text-thin">Asset Dashboard</h4>
                    </div>
                    </a>
                  </div>

                </div>

                <div class="col-sm-12 col-lg-12">
          
                  <!--Sparkline Area Chart-->
                  <div class="panel panel-danger panel-colorful text-center">
                    <div class="panel-body">
          
                      <!--Placeholder-->
                      <div id="demo-sparkline-area">
                        <l id="security" class="fa fa-user-secret fa-5x"></l>
                      </div>
          
                    </div>
                    <a href="/dashboard/index/">
                    <div class="bg-light pad-ver">
                      <h4 class="mar-no text-thin">Security dashboard</h4>
                    </div>
                    </a>
                  </div>
                </div>




                


            </div>
            
            <div class="col-lg-9">
          
          

              <div id="demo-weather-widget-lg" class="panel panel-info panel-colorful text-center">
                <div class="panel-body">

                  <div class="media">
                    <div class="media-left">
                      <!-- <i class="fa fa-map-marker fa-3x"></i> -->
                    </div>
                    <div class="media-body">
                      
                      <h4 class="mar-no text-left">Applications</h4>
                      <p class="text-left">Oneconsole</p>
                      
                    </div>
                  </div>
          

                  <div class="row pad-top">
                    <div class="col-xs-6">
                    <l id="to_rotate" style="font-size: 9em;" class="fa fa-connectdevelop fa-5x"></l>
                      <!-- <canvas id="demo-weather-lg-icon-1" width="98" height="98"></canvas> -->
                    </div>
                    <a href="/management/application/" style="color:white">
                    <div class="col-xs-6">
                      
                        <p class="text-4x">{{apps_count}}</p>
                        <h4>Infrastructure Applications</h4>

                      
                      
                    </div>
                    </a>
                  </div>
                  <hr>
          

                  <!-- <ul class="list-unstyled text-center clearfix"> -->

                    <div class="demo">
                      <div class="item">
                          <ul id="content-slider" class="content-slider">
                          {% for ci in cis %}
                            <li class="col-xs-2">
                              <a href="/management/ci/items/{{ci.ids}}" style="color:white">
                              <h4>{{ci.count}}</h4>
                              <p class="text-sm mar-no">{{ci.name}}</p>
                              </a>
                            </li>
                          {% endfor %}
                            </ul>
                        </div>
                  </div>  
                </div>
              </div>

          
            </div>
          </div>


<div class="row">
            <div class="col-sm-6 col-lg-4">
          
              <!--Registered User-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
               <a href="/management/controlpanel/" style="color:black">
              <div class="panel media pad-all">
                <div class="media-left" style="margin-right:8%">
                  <span class="icon-wrap icon-wrap-sm icon-circle bg-success">
                  <i class="fa fa-user fa-2x"></i>
                  </span>
                </div>
          
                <div class="media-body">
                  <p class="text-2x mar-no text-thin">Infra</p>
                  <p class="text-muted mar-no">Control Center</p>
                </div>
              </div>
              </a>
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          
            </div>
            <div class="col-sm-6 col-lg-4">
          
              <!--New Order-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <a href="/asset/controlpanel/" style="color:black">
              <div class="panel media pad-all">
                <div class="media-left" style="margin-right:8%">
                  <span class="icon-wrap icon-wrap-sm icon-circle bg-info">
                  <i class="fa fa-shopping-cart fa-2x"></i>
                  </span>
                </div>
          
                <div class="media-body">
                  <p class="text-2x mar-no text-thin">Asset</p>
                  <p class="text-muted mar-no">Control Center</p>
                </div>
              </div>
              </a>
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          
            </div>
            <div class="col-sm-6 col-lg-4">
          
              <!--Comments-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
               <a href="/security/controlpanel/" style="color:black">
              <div class="panel media pad-all">
                <div class="media-left" style="margin-right:8%">
                  <span class="icon-wrap icon-wrap-sm icon-circle bg-warning">
                  <i class="fa fa-comment fa-2x"></i>
                  </span>
                </div>
          
                <div class="media-body">
                  <p class="text-2x mar-no text-thin">Security</p>
                  <p class="text-muted mar-no">Control Center</p>
                </div>
              </div>
              </a>
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          
            </div>
           
          </div>

            </div>



          </div>
        </div>
          {% if "Customer_Dashboard" in request.session.logged_user_priv %}
      {% include "components/customer_footer.html"%}
      {% else %}
      {% include "components/footer.html"%}
      {% endif %}
    <script src="/static/lightslider/lightslider.js"></script>
     <script src="/static/chartjs/Chart.js"></script>
       <script>
       $(document).ready(function() {
      $("#content-slider").lightSlider({
                loop:false,
                keyPress:true
            });
            $('#image-gallery').lightSlider({
                gallery:true,
                item:1,
                thumbItem:{{lens}},
                slideMargin: 0, 
                speed:500,
                auto:true,
                loop:true,
                onSliderLoad: function() {
                    $('#image-gallery').removeClass('cS-hidden');
                }  
            });
    });
    </script>


     <script>

      var data = {
          labels: [{% for app in graph %}'{{app.times}}'{% if forloop.couter != 0 %},{% endif %} {% endfor %}],
          datasets: [
              {
                  label: "My First dataset",
                  fillColor: "#5cb85c",
                  strokeColor: "#4cae4c",
                  highlightFill: "rgba(220,220,220,0.75)",
                  highlightStroke: "rgba(220,220,220,1)",
                  data: [{% for app in graph %} {{app.count}} {% if forloop.couter != 0 %},{% endif %} {% endfor %}]
              },
          ]
      };
      var ctx = document.getElementById("charter").getContext("2d");
      var myLineChart = new Chart(ctx).Line(data, {showXLabels: 5 });

     </script>
     <script>
      $(document).ready(function(){
      $('#table_id').DataTable();
      $("#to_rotate").addClass('box_rotate box_transition');
    })
     </script>

    </body>
</html>





