<!-- <!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
        <title>Oneconsole - Login</title>
		
        <link rel="stylesheet" href="/static/customer/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/customer/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/static/customer/css/animate/animate.min.css" />
        <link rel="stylesheet" href="/static/customer/css/bootstrapValidator/bootstrapValidator.min.css" />
        <link rel="stylesheet" href="/static/customer/css/iCheck/all.css" />
        <link rel="stylesheet" href="/static/customer/css/style.css" />
		
        <style>
.login .wrapper {
width: 700px;
margin: 140px auto 0 auto;
}
        </style>
	</head>
	<body class="login fixed" style="font-size:16px">

		<div class="wrapper animated flipInY" >
				<div style="height:60px" ></div>
			
			{% if messages %}
                <ul>
                {% for message in messages %}
                {% if message.tags == 'success' %}
                  <div class="alert alert-success" >{{ message|safe }}</div>
                  {% else %}
                    <div class="alert alert-danger" >{{ message|safe }}</div>
                  {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
			<div class="box" >
				<div class="header clearfix">
					<div class="pull-left"><i class="fa fa-sign-in"></i>Oneconsole</div>
					<div class="pull-right"><a href="#"><i class=""></i></a></div>
				</div>

				
					<div class="alert alert-warning no-radius no-margin padding-sm"><i class="fa fa-info-circle"></i>Hello, {{puser}} </div>

					<div class="box-body padding-md">
					<div class="logo"><a href=""><img src="/static/img/logo.png" alt="" /></a></div>
					<form  action="/forgot/reset/"class="form-horizontal" method="POST" >{% csrf_token %}
						<div class="form-group">
							<input  type="text" name="user" class="hidden" value="{{puser}}">
						</div> 
						<div class="form-group">
							<label for="input-text" style="font-size: 13px;" class="col-sm-3 control-label">New Password</label>
							<div class="col-sm-9">
							<input type="password" name="pass1" id="pass1" class="form-control" placeholder="New Password"/ required>
							</div>
						</div>
						<div class="form-group">
							<label for="input-text" style="font-size: 13px;"  class="col-sm-3 control-label">Repeat New Password</label>
							<div class="col-sm-9">
								<input type="password" name="pass2" id="pass2"  onkeyup="checkPass(); return false;"  class="form-control" placeholder="Repeat New Password"/ required>
							</div>
						</div>
						<div class="box-footer">  
							<a href="/login" class=" btn btn-info" style="color:#FFF">Go Back</a>               
							<span class="col-sm-7"></span>            

							<button type="submit" id="submitt" class=" btn btn-success" >Reset Password</button>  
						</div>
					</form>
					</div>
				
			</div>
			<div class="box-extra clearfix">
			</div>
			
			<footer>
				Copyright @ 2014 Marlabs inc . All rights reserved.

			</footer>
		</div>

         <script src="/static/customer/js/plugins/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
        <script src="/static/customer/js/plugins/jquery-ui/jquery-ui-1.10.4.min.js" type="text/javascript"></script>

        <script src="/static/customer/js/plugins/bootstrap/bootstrap.min.js" type="text/javascript"></script>

        <script src="/static/customer/js/plugins/pace/pace.min.js" type="text/javascript"></script>

        <script src="/static/customer/js/plugins/bootstrapValidator/bootstrapValidator.min.js" type="text/javascript"></script>
        <script src="/static/customer/js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
		<script>
		
			function checkPass()
			{
			    var pass1 = document.getElementById('pass1');
			    var pass2 = document.getElementById('pass2');
			    var message = document.getElementById('confirmMessage');
			    var goodColor = "#66cc66";
			    var badColor = "#ff6666";
			    if(pass1.value == pass2.value){
			        pass2.style.backgroundColor = goodColor;
			        $( "#submitt" ).prop( "disabled", false );
			    }else{
			        pass2.style.backgroundColor = badColor;
			        $( "#submitt" ).prop( "disabled", true );
			    }
			}  
		</script>
		<script type="text/javascript">
			$("input[type='checkbox'], input[type='radio']").iCheck({
				checkboxClass: 'icheckbox_minimal',
				radioClass: 'iradio_minimal'
			});
			
			$(document).ready(function() {
				$('#loginform').bootstrapValidator({
					message: 'This value is not valid',
					fields: {
						username: {
							message: 'The username is not valid',
							validators: {
								notEmpty: {
									message: 'The username is required and can\'t be empty'
								}
							}
						},
						password: {
							validators: {
								notEmpty: {
									message: 'The password is required and can\'t be empty'
								}
							}
						}
					}
				});
			});
		</script>
    </body>
</html>
 -->



<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OneConsole | Login page</title>
	<link href="/static/customer/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/asset/nifty.min.css">
	<link href="/static/customer/css/font-awesome.min.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
	<style>
		@font-face
			{
			  font-family: marlabs;
			  src: url('/static/fonts/LithosPro-Regular.otf');
			}

	</style>
</head>
<body class="nifty-ready">
	<div id="container" class="cls-container" style="background-color:#172b3e">
		<div class="cls-header cls-header-lg">
			<div class="cls-brand">
				<a class="box-inline" href="/">
					<img alt="marlabs" src="/static/home/img/icon.png" class="brand-icon">
					<span class="brand-title" style="font-family: marlabs;">OneConsole &trade;<span class="text-thin"></span></span>
				</a>
			</div>
		</div>
		<div class="cls-content">
			<div class="cls-content-sm panel" style="width: 500px;">
				<div class="panel-body">
					<br>
					<div class="logo"><a href=""><img src="/static/img/logo.png" style="width:50%" alt="" /></a></div>
					<br><br><br>
					<form  action="/forgot/reset/"class="form-horizontal" method="POST" >{% csrf_token %}
						<input  type="text" name="user" class="hidden" value="{{puser}}">
						<div class="form-group">
							<label class="col-sm-4" style="margin-top:7px">New Password</label>
							<div class="col-sm-8" class="input-group">
								<!-- <div class="input-group-addon"><i class="fa fa-asterisk"></i></div> -->
								<input type="password" name="pass1" id="password-1" onkeyup="checker()" class="form-control" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4" style="margin-top:7px">Repeat Password</label>	
							<div class="col-sm-8" class="input-group">
								<!-- <div class="input-group-addon"><i class="fa fa-asterisk"></i></div> -->
								<input  type="password" name="pass2" id="password-2" onkeyup="checker()" class="form-control" required>
							</div>
							<small id="passu" style="color:red"><l class="fa fa-warning"></l> Password didn't match</small>
						</div>
						<div class="row">
							<div class="col-xs-6"></div>
							<div class="col-xs-6">
								<div class="form-group text-right">
								<button class="btn btn-primary text-uppercase"  id="buttondis" type="submit">Reset Password</button>
								</div>
							</div>
						</div>
					</form>
					<br>
				</div>
			</div>
			<div class="pad-ver">
				<a href="/login" class="btn-link mar-rgt" >Back to Login</a>
			</div>
			<footer >
				<!-- <p style="text-center">Copyright @ 2015 Marlabs inc . All rights reserved.</p>  -->
			</footer>
			{% if messages %}
			<div id="floating-top-right" class="floating-container" style="margin-top:4%">
			{% for message in messages %}
			  {% if message.tags == 'error' %}
			  <div class="alert-wrap in animated jellyIn">
			    <div class="alert alert-danger" role="alert">
			      <button class="close" type="button">
			      <i class="fa fa-times-circle"></i>
			      </button>
			      <div class="media">
			        <div class="media-body">
			          <h4 class="alert-title"></h4>
			          <p class="alert-message"><strong>{{ message|safe }}</strong></p>
			        </div>
			      </div>
			    </div>
			  </div>
			  {% else %}
			  <div class="alert-wrap in animated jellyIn">
			    <div class="alert alert-success" role="alert">
			      <button class="close" type="button">
			      <i class="fa fa-times-circle"></i>
			      </button>
			      <div class="media">
			        <div class="media-body">
			          <h4 class="alert-title"></h4>
			          <p class="alert-message"><strong>{{ message|safe }}</strong></p>
			        </div>
			      </div>
			    </div>
			  </div>
			  {% endif %}
			  {% endfor %}
			</div>
			{% endif %}

		</div>
	</div>
	<script src="/static/customer/js/plugins/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
	<script src="/static/customer/js/plugins/bootstrap/bootstrap.min.js" type="text/javascript"></script>
	<script src="/static/customer/nifty.min.js"></script>
	<script>
    	$("#passu").hide()
        function checker(){
             if($('#password-2').val() != $("#password-1").val()){
                $("#passu").show()
                $("#buttondis").prop('disabled', true)

             }else{
                $("#passu").hide()
                $("#buttondis").prop('disabled', false)
             }
        }
    </script>
    <script>
        $(".close").click(function () { 
        $("div").remove('.alert-wrap'); 

      }); 
    </script>
</body>
</html>












