{% load humanize %}
{% load zone %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oneconsole | Dashboard</title>
    {% include "components/css.html"%}

     <!-- Javascript -->
    <script src="/static/customer/js/plugins/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
     <script src="/static/customer/js/plugins/jquery-ui/jquery-ui-1.10.4.min.js" type="text/javascript"></script>
    <!-- Bootstrap -->
    <script src="/static/customer/js/plugins/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/customer/js/plugins/gritter/jquery.gritter.min.js" type="text/javascript"></script>

    <!-- Charts -->
    <!-- Interface -->
    <script src="/static/customer/js/plugins/jquery-countTo/jquery.countTo.js" type="text/javascript"></script>
    <script src="/static/customer/js/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/static/customer/js/plugins/pace/pace.min.js" type="text/javascript"></script>

    <!-- Forms -->
    <script src="/static/customer/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js" type="text/javascript"></script>
    <!-- <script src="/static/customer/js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>    -->

    <!-- High Charts -->  
    <script src="/static/js/highcharts/highcharts.js"></script>
    <script src="/static/js/highcharts/highcharts-more.js"></script>
    <script src="/static/js/highcharts/exporting.js"></script>        
    <!--End High Charts -->

    <script type="text/javascript">
      function box_items_details(app_ids){
        $('#top_box_appid').val(app_ids);
        $('#frm_top_box').submit();
      }

      function multi_customer_perm(){
        $('#frm_multi_customer').submit();
      }
    </script>

    <style type="text/css">
        .panel_modified_heading{
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            padding: 10px 15px;  
            border-bottom: none;
            height:auto;
        }
        .panel-title{font-size:15px;}
    </style>
    <link rel="stylesheet" type="text/css" href="/static/asset/bootstrap-select.min.css">         
  </head>
  <body class="fixed" style="font-size:13px">
  {% if "Monitoring_Main_Dashboard" in request.session.logged_user_priv %}
    {% include "components/monitoring_header.html"%}
  {% elif "Customer_Dashboard" in request.session.logged_user_priv %}
    {% include "components/cust_header.html"%}
  {% else %}
    {% include "components/header.html"%}
  {% endif %}
        <div class="wrapper">
          {% if "Monitoring_Main_Dashboard" in request.session.logged_user_priv %}
            {% include "side_bar/monitoring_customer.html" %}
        {% elif "Customer_Dashboard" in request.session.logged_user_priv %}        
            {% include "side_bar/customer.html"%}
        {% else %}
          {% include "side_bar/sidebar.html" %}
        {% endif %}

          <div class="rightside">
            <div class="page-head" style="margin-top:10px">
                <h1 class="text-thin">Monitoring Service | <small>{{hostgroup_name}} Dashboard</small></h1>
                <ol class="breadcrumb">
                   <li>You are here:</li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/monitor_dashboard/">Monitoring Dashboard</a></li>
                    <li class="active">Monitoring Details</li>
                </ol>
            </div>
            <div class="content">

                <div class="row">
                  <div class="alert alert-success" role="alert" id="success_alert" style="display:none;"></div>
                  <div class="alert alert-danger" role="alert" id="failed_alert" style="display:none;"></div>
                </div>

                {% if top_box_values or speedoitemlist or  multigraph_values %}
               
                <!-- Top Box -->
                <div class="row">
                    {% for box_items in top_box_values %}           
                    <div class="col-lg-3" style="margin-top:12px;">
                        <div class="panel panel-green">
                            <div class="panel_modified_heading">
                                <div class="row">
                                    <div class="col-xs-4" style="font-size:13px;">
                                       <span style="color:#009900;font-weight:bold;">{{box_items.count_ok_items}}</span> /  <span style="color:#B82E00;font-weight:bold;">{{box_items.count_problem_items}}</span>
                                    </div>
                                    <div class="col-xs-4 text-right">
                                    {% if box_items.maintenance_status %}
                                    <a href="#" data-toggle="modal" data-target="#window_{{box_items.topboxid}}">
                                        <img src="/static/img/maintenance-icon.png" style="width: 29px; height: 30px;" />
                                    </a>
                                    {% endif %}                                        
                                    </div>
                                    <div class="col-xs-4 text-right">
                                        <div> 
                                        {% if box_items.box_status == 1 %}                                   
                                         <img src="/static/img/red.jpg" style="width:30px;height:28px;text-align:right;" />
                                        {% elif box_items.box_status == 0 %}
                                         <img src="/static/img/green.jpg" style="width:30px;height:30px;text-align:right;" />
                                        {% endif %}                                      
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:13px;">
                                    <div class="col-xs-12 text-left" style="font-size:13px;">
                                       {{box_items.box_name}}
                                    </div>                                
                                </div>                        
                            </div>
                            <a href="javascript:void(0);" onclick="box_items_details('{{box_items.topboxid}}')">
                                <div class="panel-footer" style="background-color:#FFF;">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>                
                    {% if forloop.counter|divisibleby:"4" %}                    
                    </div>
                    <!-- /.row -->
                     <div class="row">
                    {% endif %}
                {% endfor %}
                <form name="frm_top_box" id="frm_top_box" method="POST" action="/monitor_box_details/">{% csrf_token %}
                  <input type="hidden" name="top_box_appid" id="top_box_appid" />
                </form>
            </div>         
            <!--Top Box End -->

            <!--Speedo Meter -->
            <div class="row">
            {% for bandwidth_items in speedoitemlist %}                
                <div class="col-lg-4">                      
                    <div class="panel">
                        <div class="panel-heading" style="position:relative;">
                            <h3 class="panel-title">
                                <i class="fa fa-bar-chart-o fa-fw"></i>
                                {{bandwidth_items.speedo_itemname}}
                           </h3>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                             <div id="container_speedo{{forloop.counter}}"></div>                 
                             <script type="text/javascript">
                             $('#container_speedo{{forloop.counter}}').highcharts({
                                    chart: {
                                        type: 'gauge',
                                        plotBackgroundColor: null,
                                        plotBackgroundImage: null,
                                        plotBorderWidth: 0,
                                        plotShadow: false,
                                        height: 240,
                                    },
                                    exporting: {
                                        enabled: false
                                    },
                                    title: {
                                        text: '{{bandwidth_items.speedo_itemname}}',
                                        style:{
                                            fontSize:"12px"
                                        }
                                    },

                                    pane: {
                                        startAngle: -150,
                                        endAngle: 150,
                                        background: [{
                                            backgroundColor: {
                                                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                                                stops: [
                                                    [0, '#555'],
                                                    [1, '#333']
                                                ]
                                            },
                                            borderWidth: 0,
                                            outerRadius: '109%'
                                        }, {
                                            backgroundColor: {
                                                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                                                stops: [
                                                    [0, '#333'],
                                                    [1, '#FFF']
                                                ]
                                            },
                                            borderWidth: 1,
                                            outerRadius: '107%'
                                        }, {
                                            // default background
                                        }, {
                                            backgroundColor: '#555',
                                            borderWidth: 0,
                                            outerRadius: '105%',
                                            innerRadius: '103%'
                                        }]
                                    },

                                    // the value axis
                                    yAxis: {
                                        min: {{bandwidth_items.speedo_lowrange_min}},
                                        max: {{bandwidth_items.speedo_highrange_max}},

                                        minorTickInterval: 'auto',
                                        minorTickWidth: 1,
                                        minorTickLength: 10,
                                        minorTickPosition: 'inside',
                                        minorTickColor: '#666',

                                        tickPixelInterval: 30,
                                        tickWidth: 2,
                                        tickPosition: 'inside',
                                        tickLength: 10,
                                        tickColor: '#666',
                                        /*labels: {
                                            step: 2,
                                            rotation: 'auto'
                                        },*/
                                        title: {
                                            text: '{{bandwidth_items.speedo_valuesuffix}}'
                                        },
                                        plotBands: [{
                                            from: {{bandwidth_items.speedo_lowrange_min}},
                                            to: {{bandwidth_items.speedo_lowrange_max}},
                                            color: '#55BF3B' // green
                                        }, {
                                            from: {{bandwidth_items.speedo_midrange_min}},
                                            to: {{bandwidth_items.speedo_midrange_max}},
                                            color: '#DDDF0D' // yellow
                                        }, {
                                            from: {{bandwidth_items.speedo_highrange_min}},
                                            to: {{bandwidth_items.speedo_highrange_max}},
                                            color: '#DF5353' // red
                                        }],

                                        labels: {
                                            style: {
                                                color: '#555'
                                            }
                                        }
                                    },

                                    plotOptions: {
                                        series: {
                                            dataLabels: {
                                                enabled: true,
                                                color: '#555'
                                            }
                                        }
                                    },

                                    series: [{
                                        name: 'Value',
                                        data: [{{bandwidth_items.monitored_value}}],
                                        tooltip: {
                                            valueSuffix: '{{bandwidth_items.speedo_valuesuffix}}'
                                        }
                                    }]

                                });
                            </script>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->                                     
                </div>
                <!-- /.col-lg-4 -->
                {% if forloop.counter|divisibleby:"3" %}
                </div>
                <!-- /.row -->
                 <div class="row">
                {% endif %}
            {% endfor %}
            </div>
            <!-- /.row -->            
            <!--End Speedo Meter -->


            <!--MultiGraph -->
            
                {% if multigraph_values %}      
                {% for monitored_item in multigraph_values %}
                {% if monitored_item.x_axis_value or monitored_item.y_axis_values  %}
                <div class="row">
                <div class="col-lg-12">     
                <div class="panel">
                    <div class="panel-heading" style="position:relative;">
                        <h3 class="panel-title">
                            <i class="fa fa-bar-chart-o fa-fw"></i> 
                            {{monitored_item.title}}
                        </h3>                         
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                    <div id="container_multi_{{forloop.counter}}"></div>                           
                         <script type="text/javascript">     
                          $(function () {
                              $('#container_multi_{{forloop.counter}}').highcharts({
                                  chart: {
                                    /*type: 'line'*/
                                    type: 'line',
                                    height: 250
                                  },
                                  title: {
                                      text: "{{monitored_item.title}}",
                                      x: -20 //center
                                  },                                      
                                  xAxis: {
                                      categories:[{% for x_item in monitored_item.x_axis_value %} "{% time_zone_change x_item %}", {% endfor %}],
                                      labels: {
                                        rotation: -45,                                  
                                      },
                                      type: 'datetime',
                                      title: {
                                          text: 'Monitored Time'
                                      }
                                  },
                                  yAxis: {
                                      title: {
                                          text: ''
                                      },
                                      plotLines: [{
                                          value: 0,
                                          width: 1,
                                          color: '#808080'
                                      }]
                                  },
                                  tooltip: {
                                      valueSuffix: ''
                                  },
                                  
                                  series: [
                                  {% for yaxis_items in monitored_item.y_axis_values %}
                                  {
                                      name:'{{yaxis_items.tooltip}}',                                  
                                      data: [{% for y_item in yaxis_items.itemvalue %} {{y_item}}, {% endfor %}],
                                      marker: {
                                        enabled: false
                                        },
                                  },
                                  {% endfor %}
                                  ],

                                   exporting: {
                                    enabled: false,
                                    chartOptions: {                
                                  xAxis: [{categories:[{% for x_item in monitored_item.x_axis_value %} "{{x_item}}", {% endfor %}],            
                                        labels: {
                                            style: {
                                                fontSize: '6px',                            
                                            },
                                            rotation: -90,
                                        }
                                    }]
                                }
                            }
                              });
                          });
                        </script>
                      </div>
                      <!-- /.panel-body -->
                    </div>
                  </div>
                 </div>
                 {% endif %}
                {% endfor %}                             
                {% endif %}                
                
              <!--End Multi Graph -->

              {% else %}
                <div class="row">
                  <div class="col-lg-12">
                    <div class="alert alert-danger" role="alert" id="failed_alert">
                        No Monitoring Items found
                    </div>
                  </div>
                </div>
              {% endif %}

<!--code for scheduled window popup-->
{% for box_items in top_box_values %}
    {% if box_items.maintenance_status %}        
            <div class="modal fade" id="window_{{box_items.topboxid}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Scheduled Maintenanace Details</h4>
                  </div>
                  <div class="modal-body">
                      <div class="row">
                          <div class="col-lg-12">
                            <h3></h3>
                          </div>
                          <div class="col-lg-6">                                            
                              <dl>
                                <dt>Hostgroup :</dt>
                                <dd>{{box_items.maintenance_info.scheduled_window.hostgroup}}</dd>
                                <br />
                                <dt>Host :</dt>
                                <dd>{{box_items.maintenance_info.scheduled_window.hostname}}</dd>
                                <br />
                                <dt>Maintenance Startdate :</dt>
                                <dd>{% tzone box_items.maintenance_info.scheduled_window.startdate %}</dd>
                                <br />
                                <dt>Maintenance Enddate :</dt>
                                <dd>{% tzone box_items.maintenance_info.scheduled_window.enddate %}</dd>
                                <br />
                                <dt>Impacted Service :</dt>
                                <dd>
                                    {% if box_items.maintenance_info.window_impacted_items %}
                                        {% for impacted_item in box_items.maintenance_info.window_impacted_items %}
                                            {{forloop.counter}}. {{impacted_item.itemname}} <br />
                                        {% endfor %}
                                    {% endif %}
                                </dd>
                              </dl>
                          </div>
                          
                          <div class="col-lg-6">
                              <dl>                             
                                <dt>Maintenance Status :</dt>
                                <dd style="color:#31708f;font-weight:bold;">In Progress</dd>
                                <br />                                
                                <dt>Ticket Number :</dt>
                                <dd>{{box_items.maintenance_info.scheduled_window.ticket_number}}</dd>
                                <br />
                                <dt>Comments :</dt>
                                <dd>{{box_items.maintenance_info.scheduled_window.comments}}</dd>
                              </dl>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer" style="border:0px">
                      
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div>      

    {% endif %}    
{% endfor %}
<!--Endcode -->

            </div>
          </div>
        </div>
        {% if "Customer_Dashboard" in request.session.logged_user_priv %}
            {% include "components/sr_cust.html"%}
        {% else %}
            {% include "components/service_request.html"%}
        {% endif %}
     {% include "ticket/advanced_search_popup.html" %}
     <script src="/static/customer/js/custom.js" type="text/javascript"></script>
     <script type="text/javascript">
     function monitor_add_to_dashboard(item_id,report_type){ 
      $.ajax({
          type: "POST",
          url: "/addreport_to_dashboard/",
          data: { report_type: report_type, item_id: item_id, csrfmiddlewaretoken: '{{ csrf_token }}'}
          })
          .done(function( msg ) {             
              $('#success_alert').html(msg);
              $('#success_alert').show(1000);
          })
          .fail(function() {              
              $('#failed_alert').html("Oh! Failed to move this report to your dashboard");
              $('#failed_alert').hide(1000);
          });                   
    }
    </script>
    {% include "components/dashboard_footer.html" %}  
    {% include "components/service_request.html" %}  
    </body>
</html>