{% load humanize %}
{% load zone %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oneconsole | Dashboard</title>
    {% include "components/css.html"%}
    <style>
      .dataTables_wrapper .dataTables_filter {
      color: #333333;
      margin-top: 5px;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="/static/asset/bootstrap-select.min.css">
  </head>
  <body class="fixed" style="font-size:13px">  
    {% include "components/header.html"%}
        <div class="wrapper">
          {% include "side_bar/sidebar.html"%}
          <div class="rightside">
            <div class="page-head" style="margin-top:10px">
                <h1>Speedo Items Mapping<small></small></h1>
                <ol class="breadcrumb">
                   <li>You are here:</li>
                    <li><a href="/">Home</a></li>
                    <li class="active">Speedo Items Mapping</li>
                </ol>
            </div>
            <div class="content">
            <div class="col-sm-12">
              {% if messages %}               
                {% for message in messages %}
                {% if message.tags == 'success' %}
                  <div class="alert alert-success" >{{ message|safe }}</div>
                  {% else %}
                  <div class="alert alert-danger" >{{ message|safe }}</div>
                {% endif %}
                {% endfor %}               
              {% endif %}
            </div>

            <div class="col-sm-12 alert alert-success" id="message_box_success" style="display:none;">
            </div>
            <div class="col-sm-12 alert alert-danger" id="message_box_failed" style="display:none;">
            </div>

              <div class="col-sm-12">
                <div class="box">
                  <div class="box-title">
                    <ul class="nav nav-tabs" id="myTab">
                      <li class="{% if speedo_activate  %} active {% endif %}"><a data-toggle="tab" href="#speedo">Speedo Details</a></li>
                    </ul>
                  </div>
                  <div class="box-body no-padding">
                    <div class="tab-content">                      

                     <!--Speedo Details -->
                      <div id="speedo" class="tab-pane fade in {% if speedo_activate  %} active {% endif %}">
                          <div class="row" style="margin-top:10px;">
                            <div class="col-sm-8">
                               <div class="box">
                                <div class="box-title">
                                  <h3>
                                    Speedo Meter Items Mapping
                                  </h3>
                                </div>
                                <div class="box-body">
                                  <form method="post" action="/advanced_monitoring/speedo_items_mapping/">
                                  {% csrf_token %}
                                    <fieldset>
                                    <div class="controls" style="text-align: center;">
                                    <!--First section -->
                                      <div class="row">
                                        <div class="col-sm-6">
                                            <select class="form-control" id="customer_speedo" name="customer_speedo" required style="width:300px;display: block;margin: 0 auto;" onchange="speedo_details()">
                                              <option value="" style="font-weight:bold;">Select Customer</option>
                                                {% for customer in customers %}
                                                  {% if obj_speedo_config.speedo.customer.id == customer.id %}
                                                  <option value="{{customer.id}}" selected="selected">{{ customer.customername }}</option>
                                                  {% else %}
                                                  <option value="{{customer.id}}">{{ customer.customername }}</option>
                                                  {% endif %}
                                                {% endfor %}
                                            </select>
                                          </div>
                                          <div class="col-sm-6">
                                            <select class="form-control" id="speedo_name" name="speedo_name" required style="width:300px;display: block;margin: 0 auto;">
                                              <option value="">Select Speedo Meter</option>
                                                {% for speedo_item in speedo_details %}
                                                  {% if obj_speedo_config.speedo.id == speedo_item.id %}
                                                  <option value="{{speedo_item.id}}" selected="selected">{{ speedo_item.speedo_name }}</option>
                                                  {% else %}
                                                  <option value="{{speedo_item.id}}">{{ speedo_item.speedo_name }}</option>
                                                  {% endif %}
                                                {% endfor %}
                                            </select>
                                          </div>
                                      </div>
                                      <!--End First section -->

                                      <!--Second Section -->
                                      {% if speedo_op != "update" %}
                                      <div class="row">                                     
                                        <div class="col-sm-8" style="margin-top:10px;">
                                            <select class="form-control" id="speedo_hosts" name="speedo_hosts" required style="display: block;margin: 0 auto;">
                                              <option value="">Select Hosts</option>
                                                {% for hostitems in hostdetails %}
                                                <option value="{{hostitems.hostid}}">{{hostitems.hostname}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-4" style="margin-top:10px;">
                                             <a class="btn btn-success" onclick="speedo_monitored_items()">
                                                Fetch Monitored items                                 
                                              </a><br /> 
                                              <img src="/static/img/ajax-loader.gif" id="monitored_items_loader_speedo" style="display:none;margin-top:10px;" />
                                        </div>                                      
                                      </div>
                                      {% endif %}
                                      <!--End Second Section -->

                                      <div class="row">
                                        <div class="col-sm-12" style="margin-top:10px;">
                                            <select class="form-control" name="speedo_monitored_items" id="speedo_monitored_items"  required>
                                              <option value="" disabled="disabled" style="font-weight:bold;">Select Moniotred Items</option>
                                              {% if speedo_op == "update" %}
                                               <option value="{{itemid}}" selected="selected">{{itemname}}</option>
                                              {% endif %}
                                            </select>
                                        </div>                                        
                                      </div>

                                      <div class="row">
                                        <div class="col-sm-12" style="margin-top:10px;">
                                          <div class="col-sm-6">
                                            <label for="low_min">Speedo Low Range Min :</label>
                                            <input class="form-control" value="{{obj_speedo_config.lowrange_min}}" required type="number" step="any" name="low_min" id="low_min" />
                                          </div>
                                          <div class="col-sm-6">
                                            <label for="low_max">Speedo Low Range Max :</label>
                                            <input class="form-control" value="{{obj_speedo_config.lowrange_max}}" required type="number" step="any" name="low_max" id="low_max" />                 
                                          </div>
                                        </div>

                                        <div class="col-sm-12" style="margin-top:10px;">
                                          <div class="col-sm-6">
                                            <label for="mid_min">Speedo Mid Range Min :</label>
                                            <input class="form-control" value="{{obj_speedo_config.midrange_min}}" required type="number" step="any" name="mid_min" id="mid_min" />
                                            
                                          </div>
                                          <div class="col-sm-6">
                                            <label for="mid_max">Speedo Mid Range Max :</label>
                                            <input class="form-control" value="{{obj_speedo_config.midrange_max}}" required type="number" step="any" name="mid_max" id="mid_max" />                                           
                                          </div>
                                        </div>

                                        <div class="col-sm-12" style="margin-top:10px;">
                                          <div class="col-sm-6">
                                            <label for="high_min">Speedo High Range Min :</label>
                                            <input class="form-control" value="{{obj_speedo_config.highrange_min}}" required type="number" step="any" name="high_min" id="high_min" />
                                            
                                          </div>
                                          <div class="col-sm-6">
                                            <label for="high_max">Speedo High Range Max :</label>
                                            <input class="form-control" value="{{obj_speedo_config.highrange_max}}" required type="number" step="any" name="high_max" id="high_max" />                                           
                                          </div>
                                        </div>
                                      </div>

                                      <button class="btn btn-success" type="submit" style="margin-top:10px;">
                                       {% if speedo_op == "update" %}
                                          Move Selected Monitored Items to the Speedo
                                       {% else %}
                                          Add Selected Monitored Items to the Speedo                                    
                                       {% endif %}
                                      </button> 
                                    </div>
                                    </fieldset>
                                    {% if speedo_op == "update" %}
                                      <input type="hidden" name="speedo_action" id="speedo_action" value="update" />
                                    {% else %}
                                      <input type="hidden" name="speedo_action" id="speedo_action" value="add" />
                                    {% endif  %}
                                      <input type="hidden" name="speedo_update_id" value="{{update_id}}" />
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>

                          <table class="table table-hover" id="speedo_table">
                            <thead>
                            <tr>
                              <th>No</th>
                              <th>Speedo Name</th>
                              <th>Item Name</th>
                              <th>Customer</th>
                              <th>Status</th>
                              <th>Delete</th>
                              <th>Edit</th>       
                            </tr> 
                            </thead>
                            <tbody>                             
                            {% for items_mapped in speedo_config_details %}                                                   
                                <tr>
                                  <td>{{ forloop.counter }}</td>
                                  <td>{{items_mapped.speedo_name}}</td>
                                  <td>{{items_mapped.item_name}}</td>
                                  <td>{{items_mapped.speedo_customer.customername}}</td>
                                  {% if items_mapped.item_active %}
                                  <td>                                 
                                    <input value="{{items_mapped.speedo_config_id}}"  type="checkbox" name="speedo_item_status" checked data-size="mini" data-on-text="Active" data-off-text="Inactive" class="switch"/>
                                  </td>
                                  {% else %}
                                  <td>                                  
                                    <input value="{{items_mapped.speedo_config_id}}" type="checkbox" class="switch" name="speedo_item_status" data-size="mini" data-on-text="Active" data-off-text="Inactive">
                                  </td>
                                  {% endif %}
                                  <td>
                                    <a href="/advanced_monitoring/delete_speedo_mapping/{{items_mapped.speedo_config_id}}"><img src="/static/img/cancel-32.png" style="width:23px;" onclick="return delete_item();" /></a>
                                  </td>  
                                  <td>
                                    <a class="btn btn-info btn-sm" href="/advanced_monitoring/speedo_config_edit/{{items_mapped.speedo_config_id}}">
                                    <span class="text">Edit</span>
                                    </a>
                                  </td>                                
                                </tr> 
                            {% endfor %}                              
                            </tbody>
                          </table>
                      </div>                     
                     <!--End Speedo details -->

                     
                    </div>
                  </div>
                </div>
              </div>             
        </div>
    {% include "components/footer.html"%}
    </body>

    <script type="text/javascript">
      $("#mon_admin_main").addClass("active");
      $("#mon_admin_sub").css({'display' : 'block'});
      $("#spe_details").addClass("active"); 
  </script> 

  <script type="text/javascript">
    $(document).ready(function(){      
      
     $("#speedo_table").dataTable({
        bLengthChange :false,
        bInfo:false        
      });
                
    });
  </script>    
  <script type="text/javascript">
    var status=0;   

    $("input[name='speedo_item_status']").bootstrapSwitch();       
    $('input[name="speedo_item_status"]').on('switchChange.bootstrapSwitch', function(event, state) {
      if(state==true && status==0){
        window.location = '/advanced_monitoring/speedo_item_activate/'+this.value;
        status= 1;
      }
      else if(state==false && status==0){
        window.location = '/advanced_monitoring/speedo_item_activate/'+this.value;
        status = 1;
      }
    });    

    function speedo_monitored_items(){
      var selected_hosts = $('#speedo_hosts').val();
      if(selected_hosts != null && selected_hosts != ""){
        $('#message_box_failed').html('');
        $('#message_box_failed').hide(100);        
        $('#monitored_items_loader_speedo').show();            
        $.ajax({
              url:"/advanced_monitoring/monitoring_selected_items/",
              type: "POST",
              dataType:"json",                      
              data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                selected_hosts:selected_hosts
              },
              success: function(data){
                var monitored_items = '<option value="">Select Monitored Items</option>';    
                 $.each( data, function(key, val) {
                    var itemid = val.itemid;
                    var itemname = val.itemname;                 
                    monitored_items = monitored_items + '<option value="'+itemid+'">'+itemname+'</option>';
                });
                $('#speedo_monitored_items').html(monitored_items);
                $('#monitored_items_loader_speedo').hide();
              },
              error: function () {                
                $('#message_box_failed').html("Not able to fetch monitored items");
                $('#message_box_failed').show(100);              
              }
        });
      }
      else{
        $('#message_box_failed').html("Please select any hosts");
        $('#message_box_failed').show(100);
      }      
    }


    function speedo_details(){
      var selected_customer = $('#customer_speedo').val();      
      $.ajax({
            url:"/advanced_monitoring/customer_speedo/",
            type: "POST",
            dataType:"json",                      
            data: {
              csrfmiddlewaretoken: '{{ csrf_token }}',
              selected_customer:selected_customer
            },
            success: function(data){
              var speedo_details = '<option value="">Select Speedo Details</option>';    
               $.each( data, function(key, val) {
                  var speedo_id = val.speedo_id;
                  var speedo_name = val.speedo_name;                 
                  speedo_details = speedo_details + '<option value="'+speedo_id+'">'+speedo_name+'</option>';
              });
              $('#speedo_name').html(speedo_details);              
            },
            error: function () {
              $('#message_box_failed').html("Not able to fetch Speedo details");
              $('#message_box_failed').show(100);             
            }
      });
    }

    

    function delete_item(){
      if(confirm("Are you sure. You want to delete it? ")){
        return true;
      }
      else{
        return false;
      }
    }        
    </script>  
</html>

