{% load humanize %}
{% load zone %}
<!DOCTYPE html>
<html ng-app="oneconsole">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Oneconsole | Dashboard</title>
        {% include "components/css.html"%}
        <style>
            @media screen and (max-width: 640px) {
                table {
                    overflow-x: auto;
                    display: block;
                }
            }
        </style>
        <link rel="stylesheet" type="text/css" href="/static/asset/nifty.min.css">
        <script src="/static/customer/js/plugins/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
        <script src="/static/customer/js/plugins/pace/pace.min.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="/static/asset/bootstrap-select.min.css">
    </head>
    <body class="fixed" style="font-size:13px" >
        {% include "components/header.html"%}
        <div class="wrapper">
            {% if "Customer_Dashboard" in request.session.logged_user_priv %}
                {% include "side_bar/customer.html"%}
            {% else %}
                {% include "side_bar/sidebar.html"%}
            {% endif %}
            <div class="rightside">
                <div class="page-head" style="margin-top:10px">
                    <h1><small></small></h1>
                    <ol class="breadcrumb">
                        <li>You are here:</li>
                        <li><a href="/">Home</a></li>
                        <li><a href="/admin_settings/admin_dashboard/">Admin Dashboard</a></li>
                        <li><a href="/admin_settings/customers/all/">Customers</a></li>
                        <li><a href="/admin_settings/customers/{{email_template.customer.id}}/"> Customer Details</a></li>
                        <li class="active">Template Details</li>
                    </ol>
                </div>
                {% include "components/msg_div.html" %}
                <div class="content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel">
                                <div class="panel-heading panel-mint panel-colorful">
                                    <h2 class="panel-title pull-left">Template Details</h2>
                                    <!-- <a href="#" data-toggle="modal" data-target="#create_func" class="btn btn-warning pull-right" style="margin:10px;">Create New</a> -->
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <form method="post" action="/admin_settings/email_templates/{{email_template.id}}/">{% csrf_token %}
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">Template Name </label>
                                                    <div class="col-lg-7">
                                                        <input type="text" name="name" value="{{email_template.templatename}}" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">Template Subject</label>
                                                    <div class="col-lg-7">
                                                        <input type="text" name="subject" value="{{email_template.templatesubject}}" class="form-control">
                                                    </div><br/>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">Template Content</label>
                                                    <div class="col-lg-7">
                                                        <textarea name="body" class="form-control" rows="7">{{email_template.templatebody}}</textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <br/>
                                                    <div class="col-lg-10" style="margin-top: 15px;">
                                                        <button type="submit" class="btn btn-primary btn-labeled fa fa-send fa-lg pull-right">Edit & Save </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "components/footer.html" %}
        <script type="text/javascript" src="/static/asset/nifty.min.js"></script>
    </body>
</html>