{% load humanize %}
{% load zone %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Oneconsole | Dashboard</title>
        {% include "components/css.html"%}
        <style>
            @media screen and (max-width: 640px) {
                table {
                    overflow-x: auto;
                    display: block;
                }
            }
        </style>
        <link rel="stylesheet" type="text/css" href="/static/asset/nifty.min.css">
        <script src="/static/customer/js/plugins/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
        <script src="/static/customer/js/plugins/pace/pace.min.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="/static/asset/bootstrap-select.min.css">
    </head>
    <body class="fixed" style="font-size:13px">
        {% include "components/header.html"%}
        <div class="wrapper">
            {% if "Customer_Dashboard" in request.session.logged_user_priv %}
                {% include "side_bar/customer.html"%}
            {% else %}
                {% include "side_bar/sidebar.html"%}
            {% endif %}
            <div class="rightside">
                <div class="page-head" style="margin-top:10px">
                    <h1><small></small></h1>
                    <ol class="breadcrumb">
                        <li>You are here:</li>
                        <li><a href="/">Home</a></li>
                        <li><a href="/admin_settings/admin_dashboard/">Admin Dashboard</a></li>
                        <li class="active">General Dashboard</li>
                    </ol>
                </div>
                {% include "components/msg_div.html" %}
                <div class="content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <div class="panel panel-mint panel-bordered">    
                                    <div class="panel-heading">
                                        <h2 class="panel-title text-center"><i class="fa fa-plus-square-o"></i> Functionality</h2>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-unstyled row text-center">
                                            <li class="col-xs-12">
                                                <span class="text-2x" id="demo-gauge-text"></span>
                                                <p class="text-uppercase">
                                                    <small><a href="/admin_settings/functionalities/">Functionality</a></small>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="panel panel-bordered panel-danger">
                                    <div class="panel-heading">
                                        <h2 class="panel-title text-center"><i class="fa fa-tasks"></i> Privileges</h2>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-unstyled row text-center">
                                            <li class="col-xs-12">
                                                <span class="text-2x" id="demo-gauge-text"></span>
                                                <p class="text-uppercase">
                                                    <small><a href="/admin_settings/privileges/">Privileges</a></small>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="panel panel-bordered panel-warning">
                                    <div class="panel-heading">
                                        <h2 class="panel-title text-center"><i class="fa fa-bars"></i> SLA Management</h2>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-unstyled row text-center">
                                            <li class="col-xs-12">
                                                <span class="text-2x" id="demo-gauge-text"></span>
                                                <p class="text-uppercase">
                                                    <small><a href="/admin_settings/sla_management/">SLA Management</a></small>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="panel panel-bordered panel-pink">
                                    <div class="panel-heading">
                                        <h2 class="panel-title text-center"><i class="fa fa-files-o"></i> Copy Templates</h2>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-unstyled row text-center">
                                            <li class="col-xs-12">
                                                <span class="text-2x" id="demo-gauge-text"></span>
                                                <p class="text-uppercase">
                                                    <small><a href="/admin_settings/copy_templates/">Copy Templates</a></small>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="panel panel-bordered panel-pink">
                                    <div class="panel-heading">
                                        <h2 class="panel-title text-center"><i class="fa fa-users"></i> Users</h2>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-unstyled row text-center">
                                            <li class="col-xs-12">
                                                <span class="text-2x" id="demo-gauge-text"></span>
                                                <p class="text-uppercase">
                                                    <small><a href="/admin_settings/users/all/">Users</a></small>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "components/footer.html"%}
        {% include "components/service_request.html" %}
        <script type="text/javascript" src="/static/asset/nifty.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.bootstrap.wizard.min.js"></script>
        <script src="/static/customer/js/plugins/bootstrapValidator/bootstrapValidator.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/static/js/form-validation.js"></script>
        <script>
            $('#rfc_req').addClass('active')
        </script>
    </body>
</html>
