<script type="text/javascript" src="/static/angular/angular-route.js"></script>
<script src="/static/js/angular/bootstrap/ui-bootstrap-tpls-0.10.0.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/angular/angular-cron-jobs.js"></script>
<script src="/static/js/angular/angular-sanitize.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/angular/app.js"></script>
<script type="text/javascript" src="/static/js/angular/controllers.js"></script>