<div class="modal fade" id="confirm_box" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <p class="text-center text-thin" style="font-size:16px" id="confirm_msg"><strong>Do you want to delete?</strong></p>
            </div>
            <div class="modal-footer" style="border:0px">
                <input type="hidden" id="delete_id">
                <input type="hidden" id="confirm_type">
                <button type="button"  class="btn btn-danger text-center" data-dismiss="modal" >Cancel</button>
                <button type="button"  class="btn btn-success text-center" onclick="submit_ok()">Ok</button>
                <img src="/static/gif/wait.gif" style="display:none" id="image_id">
            </div>
        </div>
    </div>
</div>