{% load humanize %}
{% load zone %}
 <div class="modal fade" id="zendesk" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content  bg-gray">
              <div class="modal-header bg-gray">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ModalLabel">Worklog from zendesk for the ticket #{{ zendesk.zendesk_id  }}</h4>
              </div>
              <form  action="{% url 'zendesk_log_merge' ticket.id zendesk.zendesk_id %}" method="POST">{% csrf_token %}
              <div class="panel-body demo-nifty-label-badge">
          
                  <!--Labels-->
                  <span class="label label-info" style="display: none;" id="zendesk_ticket_type"></span>
                  <span class="label label-info" style="display: none;" id="zendesk_ticket_priority"></span>


                </div>
              <h1 class="page-header text-overflow mar-rgt mar-top"><button class="btn btn-warning pull-right"  id="log_sync_btn" style="width: 25%" type="submit"><i class="spinner_sync fa fa-spinner fa-spin" style="display: none" aria-hidden="true"></i> Sync To Oneconsole</button></h1>
                <div class="modal-body" id="modal_log">
                  <!-- Timeline -->
                  <!--===================================================-->

                </div>
              </form>
              <div class="modal-footer" style="border:0px">
              </div>
            </div>
          </div>
</div>