{% load humanize %}
{% load zone %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Oneconsole | Flagged Tickets</title>
        {% include "components/css.html"%}
        <link rel="stylesheet" type="text/css" href="/static/asset/bootstrap-select.min.css">
    </head>
    <body class="fixed" style="font-size:13px" id="view_sub_ticket">
        {% include "components/header.html"%}
        <div class="wrapper">
            {% include "side_bar/sidebar.html"%}
            <div class="rightside">
                <div class="page-head" style="margin-top:10px">
                    <h1 class="text-thin">Ticket Details<small>| Flagged Tickets</small></h1>
                    <ol class="breadcrumb">
                       <li>You are here:</li>
                        <li><a href="/">Home</a></li>
                        <li class="active">Flagged Tickets</li>
                    </ol>
                </div>
                <div class="content">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Flagged Tickets</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-hover borderless" id="table_id" cellspacing="0" width="100%" >
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Ticket Id</th>
                                        <th>Ticket Summary</th>
                                        <th>Reported Date</th>
                                        <th>Priority</th>
                                        <th>Status</th>
                                        <th>Domain</th>
                                        <th>Sub Domain</th>
                                        {% if is_egate_included %}
                                            <th>Carrier</th>
                                        {% endif %}
                                        <th>Affected Person</th>
                                        <th>Customer</th>
                                        <th>Owner</th>
                                        <th>Expected Resolution</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    {% for ticket in flagged_tickets %}
                                        <tr>
                                            <td class="">
                                                <a class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Important" href="{% if role == 'helpdesk' %}/ticket/status/edit/{{ticket.id}}{% elif role == 'resolver' %}/ticket/stat/{{ticket.id}}{% endif %}">
                                                    {% if profile.user.id == ticket.modifiedperson.user.id %}
                                                        <i class="fa fa-search-plus "> </i>
                                                    {% else %}
                                                        <i class="fa fa-comment-o "> </i>
                                                    {% endif %}
                                                </a>
                                            </td>
                                            <td class="text-center">{% if ticket.affectedperson.id in vips %}
                                                <i class="fa fa-star" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="VIP Ticket"style="color: #d89801;margin-right:3px;"></i>
                                            {% endif %}{{ticket.ticketid}}</td>
                                            <td class="text-center">{{ticket.summary}}</td>
                                            <td class="text-center"><span style="display:none;">{{ticket.reportdate.year}}{% if ticket.reportdate.month >= 10 %}{{ticket.reportdate.month}}{% else %}0{{ticket.reportdate.month}}{%endif%}{% if ticket.reportdate.day >= 10 %}{{ticket.reportdate.day}}{% else %}0{{ticket.reportdate.day}}{%endif%}{{ticket.reportdate.time | time}}</span>{% tzone ticket.reportdate %}</td>
                                            <td class="text-center">
                                                {% if ticket.customer_priority %}
                                                    {{ ticket.customer_priority.priority }}
                                                {% else %}
                                                    {{ticket.internalpriority}}
                                                {% endif %}
                                            </td>
                                            <td class="text-center">{{ticket.status | real:ticket.customer.id}}</td>
                                            <td class="text-center">{{ticket.group.workgroup}}</td>
                                            <td class="text-center">{{ticket.subgroup.subgroupname}}</td>
                                            {% if is_egate_included %}
                                                <td class="text-center">{{ ticket.impacted_airline.name}}</td>
                                            {% endif %}
                                            <td class="text-center">{{ticket.affectedperson.user.email}}</td>
                                            <td class="text-center">{{ticket.customer.customername}}</td>
                                            <td class="text-center">{{ticket.owner.user.email}}</td>
                                            <td class="text-center">
                                                {% if ticket.status == 'CLOSED' %}
                                                    Closed
                                                {% elif ticket.status == 'RESOLVED' %}
                                                    Resolved
                                                {% else %}
                                                    <span style="display:none;">{{ticket.targetfinish.year}}{{ticket.targetfinish.month}}{% if ticket.targetfinish.day > 10 %}{{ticket.targetfinish.day}}{% else %}0{{ticket.targetfinish.day}}{%endif%}{{ticket.targetfinish.time | time}}</span>{% tzone ticket.targetfinish %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "components/footer.html"%}
        {% include "components/service_request.html" %}
        <script>
            $("#tickets_main").addClass("active");
            $("#tickets_nav").css({'display' : 'block'});
            $("#flagged").addClass("active");
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#table_id').DataTable({
                    aaSorting:[[3,'desc']],
                    "scrollX": true,
                    "columnDefs": [
                        { "width": "10%", "targets": 1 },
                    ],
                });
            });
        </script>
    </body>
</html>






