{% load humanize %}
{% load zone %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type="text/css">
            table.fixed { table-layout:fixed; word-break:break-all;}
            table.fixed td { overflow: hidden; } 
            .bs{
                background-color: transparent;
            }
        </style>
        <title>Oneconsole | Dashboard</title>
        {% include "components/css.html"%}
        <link rel="stylesheet" href="/static/css/datepicker.css" />
        <link rel="stylesheet" type="text/css" href="/static/asset/bootstrap-select.min.css">
        <link href="/static/docker_management/plugins/select2/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/static/css/loader.css">
    </head>
    <body class="fixed" style="font-size:13px">
        {% include "components/header.html"%}
        <div class="wrapper">
            {% include "side_bar/sidebar.html"%}
            <div class="rightside">
                <div class="page-head" style="margin-top:10px">
                    <h1 class="text-thin">Advanced Search | <small>Search Tickets</small></h1>
                    <ol class="breadcrumb">
                       <li>You are here:</li>
                        <li><a href="/">Home</a></li>
                        <li class="active">Advanced Search</li>
                    </ol>
                </div>
                <div class="content">
                    <div class="row">
                        <form id="form_ticket_search">{% csrf_token %}
                            <div class="col-md-12">
                                <div class="panel">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="input-field col s6">
                                                    <input class="form-control " type="text" id="ticket_summ" name="ticket_summ" value="{{posted_data.ticket_summ}}">
                                                    <label for="ticket_summ">Ticket Summary:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="input-field col s6">
                                                    <input class="form-control " type="text" id="ticketid" name="ticketid" value="{{posted_data.ticketid}}">
                                                    <label for="ticketid">Ticket Id:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="input-field col s6">
                                                    <select class="form-control select2" name="status" id="status" multiple>
                                                        <option value="">Select Status</option>
                                                        {% for stat in status_list %}
                                                            <option value="{{ stat }}">{{ stat|real }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <label for="status">Status:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <div class="input-field col s6">
                                                        <input class="form-control " type="text" id="affectedperson" name="affectedperson" value="{{posted_data.affectedperson}}" >
                                                        <label for="affectedperson">Affected Person:</label>
                                                    </div>
                                                    <div class="input-group-btn">
                                                        <button type="button" class="btn bs" onclick="assignElement('affectedperson')"  data-toggle="modal" data-target="#person_popup"><i class="glyphicon glyphicon-search" ></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-3">                         
                                                <div class="input-group">
                                                    <div class="input-field col s6">
                                                        <input  class="form-control " type="text" id="reportedperson" name="reportedperson" value="{{posted_data.reportedperson}}">
                                                        <label for="reportedperson">Reported Person:</label>
                                                    </div>
                                                    <div class="input-group-btn">
                                                        <button type="button" class="btn bs" onclick="assignElement('reportedperson')" data-toggle="modal" data-target="#person_popup"><i class="glyphicon glyphicon-search" ></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <div class="input-field col s6">
                                                        <select class="form-control select2" id="customer" name="customer" >
                                                            <option value="">Select Customer</option>
                                                        </select>
                                                        <label for="customer">Customer</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <div class="input-field col s6">
                                                        <div class="input-field col s6">
                                                            <label id="subgroup-error" class="text-danger" style="display:none">Please select group*  </label>
                                                        </div>
                                                        <select class="form-control select2" id="group" name="group" >
                                                            <option value="">Select Domain</option>
                                                        </select>
                                                        <label for="group">Domain</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <div class="input-field col s6">
                                                        <select class="form-control select2" id="subgroup" name="subgroup">
                                                            <option value="">Select Sub domain</option>
                                                        </select>

                                                        <label for="subgroup">Sub Domain</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row" style="margin-top:10px">
                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <div class="input-field col s6">
                                                        <input class="form-control " type="text" id="createdby" name="createdby" value="{{posted_data.createdby}}"  >
                                                        <label for="createdby"> Created By:</label>
                                                    </div>
                                                    <div class="input-group-btn">
                                                        <button type="button" class="btn bs" onclick="assignElement('createdby')" data-toggle="modal" data-target="#person_popup"><i class="glyphicon glyphicon-search" ></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <div class="input-field col s6">
                                                        <input class="form-control " type="text" id="owner" name="owner" value="{{posted_data.owner}}">
                                                        <label for="owner"> Owner:</label>
                                                    </div>
                                                    <div class="input-group-btn">
                                                        <button type="button" class="btn bs"onclick="assignElement('owner')" data-toggle="modal" data-target="#person_popup"><i class="glyphicon glyphicon-search" ></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="input-group date" id="datetimepicker3">
                                                    <div class="input-field">
                                                        <input type="text" class="form-control" id="from_report_date" name="from_report_date" readonly>
                                                        <label for="from_report_date">From Reported Date</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="input-group date" id="datetimepicker2">
                                                    <div class="input-field">
                                                        <input type="text" class="form-control" name="to_report_date" id="to_report_date" readonly>
                                                        <label for="to_report_date"> To Reported Date</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <div class="input-field col s6">
                                                        <input class="form-control " type="text" id="category" name="category" value="{{posted_data.category}}" >
                                                        <label for="category">Category</label>
                                                    </div>
                                                    <div class="input-group-btn">
                                                        <button type="button" class="btn bs" onclick="assignElement('category')" data-toggle="modal" data-target="#category_popup"><i class="glyphicon glyphicon-search" ></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3">
                                                <button class="btn btn-info pull-right" type="submit">Find Tickets</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div id="fountainG" hidden>
                            <div id="fountainG_1" class="fountainG"></div>
                            <div id="fountainG_2" class="fountainG"></div>
                            <div id="fountainG_3" class="fountainG"></div>
                            <div id="fountainG_4" class="fountainG"></div>
                            <div id="fountainG_5" class="fountainG"></div>
                            <div id="fountainG_6" class="fountainG"></div>
                            <div id="fountainG_7" class="fountainG"></div>
                            <div id="fountainG_8" class="fountainG"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6">
                                <div class="controls pull-right pad-all">
                                    <form action="/advanced_search_export_excel/" method="post" target="_blank">
                                    {% csrf_token %}
                                        <input id="export_to_excel" name="export_to_excel" type="submit" class="btn btn-success" value="Export To Excel">
                                        <input type="hidden" name="export_to_excel_data" id="export_to_excel_data" value="">
                                    </form>
                                </div>
                            </div>          
                        </div>
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Tickets</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-hover borderless" id="ticket_table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Ticket Id</th>
                                                <th>Ticket Summary</th>
                                                <th>Reported Date</th>
                                                <th>Priority</th>
                                                <th>Status</th>
                                                <th>Reported Person</th>
                                                <th>Created By</th>
                                                <th>Affected Person</th>
                                                <th>Customer</th>
                                                <th>Owner</th>
                                                <th>Category</th>
                                                <th>Domain</th>
                                                <th>Sub Domain</th>
                                                <th>Last Updated</th>
                                            </tr> 
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "components/footer.html"%}
        {% include "components/service_request.html" %}
    </body>
    <div class="modal fade" id="category_popup"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog" style="width:60%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Category</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover borderless fixed" id="category_table">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Name</th>
                                <th>Description</th>
                            </tr> 
                        </thead>
                        <tbody>
                            {% for category in categories %}
                                <tr>
                                    <td><input type="radio" name="category_popup1" onclick="populateValue('cateogry','{{ category.name }}')"></td>
                                    <td>{{ category.name }}</td>
                                    <td>{{ category.description }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer" style="border:0px">
                    <button class="btn btn-info" class="close" data-dismiss="modal" aria-hidden="true" style="float:right;" type="submit">Select</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
    <!--Persons-->
    <div class="modal fade" id="person_popup"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog" style="width:60%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Persons</h4>
                </div>
                <div class="modal-body no-padding">
                    <table class="table table-hover borderless fixed" id="person_table">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Location</th>
                                <th>Customer</th>
                            </tr> 
                        </thead>
                    </table>
                </div>
                <div class="modal-footer" style="border:0px">
                    <button class="btn btn-info" class="close" data-dismiss="modal" aria-hidden="true" style="float:right;" type="submit">Select</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div>
    
    <script src="/static/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="/static/docker_management/plugins/select2/select2.min.js"></script>
    <script type="text/javascript">
      $("#from_report_date").datepicker({'autoclose': true}).on('changeDate', function(e){
        $("#to_report_date").datepicker('setStartDate', $('#from_report_date').val());
      });

      $("#to_report_date").datepicker({'autoclose': true}).on('changeDate', function(e){
        $("#from_report_date").datepicker('setEndDate', $('#to_report_date').val());
      });

        $("input[type='radio']").change(function () {
          
        });
        element_id='';
        $("#person_table").on('click','tr',function(e){
        var row = $(this).find('td:eq(1)').text();
         $("#"+element_id).val(row);
        });
        $("#category_table").on('click','tr',function(e){
        var row = $(this).find('td:eq(1)').text();
         $("#"+element_id).val(row);
        });
        $("#workgroup_table").on('click','tr',function(e){
            
        var row_id = $(this).find('td:eq(0)').text();
        var row_name = $(this).find('td:eq(1)').text();
         $("#"+element_id).val(row_id);
         $("."+element_id).val(row_name);
        });
        $("#subgroup_table").on('click','tr',function(e){
        var row = $(this).find('td:eq(1)').text();
         $("#"+element_id).val(row);
        });
        $("#customer_table").on('click','tr',function(e){
        var row = $(this).find('td:eq(1)').text();
         $("#"+element_id).val(row);
        });
        function assignElement(el_id){
          element_id = el_id;
          if(element_id == 'owner' || element_id == 'createdby' || element_id == 'affectedperson' || element_id == 'reportedperson'){
            user_name = $('#'+element_id).val();
            if($("#person_table").hasClass('initialized')){
              $('#person_table').dataTable().fnDestroy();
            }
            else{
              $("#person_table").addClass('initialized')
            }
            $('#person_table').dataTable( {
                     "processing": true,
                     "ajax": {
                         "processing": true,
                         "url": "/ad/persons?name="+user_name,
                         "dataSrc": ""
                     },
                     "columns": [
                             { "": "","bSortable": false, },
                             { "": "fields.user__username" },
                             { "": "fields.department" },
                             { "": "fields.location" },
                             { "": "fields.customer__customername" },
                         ],
                      "columnDefs": [ {
                  "targets": 0,
                  "data": null,
                  "defaultContent": "<input type='radio' name='person1'>"
              } ]
            } );
          }
          else if(element_id == 'category'){
            cat_name = $('#'+element_id).val();
            if($("#category_table").hasClass('initialized')){
              $('#category_table').dataTable().fnDestroy();
            }
            else{
              $("#category_table").addClass('initialized')
            }
            $('#category_table').dataTable( {
                     "processing": true,
                     "ajax": {
                         "processing": true,
                         "url": "/ad/category?name="+cat_name,
                         "dataSrc": ""
                     },
                     "columns": [
                             { "": "","bSortable": false, },
                             { "": "fields.name" },
                             { "": "fields.description" },
                         ],
                      "columnDefs": [ {
                  "targets": 0,
                  "data": null,
                  "defaultContent": "<input type='radio' name='category'>"
              } ]
            } );
          }
        }
            // $(document).ready(function(){
            function populateValue(str,row){
              //console.log(element_id);
              alert('here');
              $("#"+element_id).val(row);
            }
      </script>
    <script type="text/javascript">

  $('#form_ticket_search').submit(function(e) {
    console.log(e);
    $('#status-error').hide();
    e.preventDefault();
    $('#export_to_excel').hide();
     $('#fountainG').show();
      var formData = {};
      $("#form_ticket_search").find("input[name]").each(function (index, node) {
        formData[node.name] = node.value;
      });

      $("#form_ticket_search").find("select[name]").each(function (index, node) {
        formData[node.name] = $('#'+node.id).val()
      });
      console.log(formData);
    // Save data for export to excel
    $('#export_to_excel_data').val(JSON.stringify(formData));

    $('#ticket_table').DataTable( {
        "processing": true,
        "serverSide": false,
        "iDisplayLength": 10,
        "bAutoWidth": true,
        "searching": true,
        "bDestroy": true,
        "pageLength": 10,
        "pagingType": "simple_numbers",
        "bScrollCollapse": true,
        "scrollX": "200",
        "language": {
          "emptyTable": "No Tickets available"
        },
        "ajax": {
            "url": "/advanced/search/ticket/list/",
            "type": "GET",
            "data": formData,
            "dataType": 'json',
            "dataSrc": function(data){
                $('#fountainG').hide();
                if(data.length > 0){
                  $('#export_to_excel').show();
                }
                else{
                  $('#export_to_excel').hide();
                }
              return data;
            },
        },
        "columns": [
          { "data": "ticket_edit_url",
            "orderable": false,
            "searchable": false
          },
          { "data": "ticketid" },
          { "data": "summary" },
          { "data": "reportdate" },
          { "data": "internalpriority" },
          { "data": "status" },
          { "data": "reportedby" },
          { "data": "createdby" },
          { "data": "affectedperson" },
          { "data": "customer" },
          { "data": "owner" },
          { "data": "category" },
          { "data": "group" },
          { "data": "subgroup" },
          { "data": "changedate" },
        ]
    } );

    // Supress Data Table Warning messages    
    $.fn.dataTable.ext.errMode = 'none';

    $('#ticket_table').DataTable().draw();
  });

  $( document ).ready(function() {

    $('#status').select2({
      placeholder: "Select status"
    });

    $('#subgroup').select2({
      placeholder: "Select Subdomain"
    });

    $('#ticket_table').dataTable({
      "bScrollCollapse": true,
      "scrollX": "200",
    });
    $.ajax({
        url: "/ad/workgroup",
        type: 'get',
        dataType: 'json',
        // data: {'customer': selected_customer},
        success: function(data) {

          if(data){
            group_list = []
            $.each(data, function( index, value ) {
              group_list.push({'id': value[0], 'text': value[1] + " - " + value[3]});
            });
            $('#group').select2({
                'data': group_list,
                placeholder: "Select Domain"
            });
          }

        }
    });
    $.ajax({
        url: "/ad/customer",
        type: 'get',
        dataType: 'json',
        // data: {'customer': selected_customer},
        success: function(data) {

          if(data){
            group_list = []
            $.each(data, function( index, value ) {
              group_list.push({'id': value[1], 'text': value[1]});
            });
            $('#customer').select2({
              'data': group_list,
              placeholder: "Select Customer"
            });
          }

        }
    });
    $('#export_to_excel').hide();

    $('#subgroup').on('select2:open', function () {
      if($('#group').val() == '' || $('#group').val() == null){
        $('#subgroup-error').show();
      }
      else{
        $('#subgroup-error').hide(); 
      }
    });
    $('#group').change(function(){
        $('#subgroup').select2("val", "");
        $('#subgroup').empty();
        $('#subgroup').empty().trigger('change');
        selected_group_list = $('#group').val();
        if(!jQuery.isEmptyObject(selected_group_list)){
            $.ajax({
                url: '/ad/subgroup',
                type: 'get',
                dataType: 'json',
                data: {'group_list': selected_group_list},
                success: function(data) {
                    if(data){
                        subgroup_list = []
                        $.each(data, function( index, value ) {
                            subgroup_list.push({'id': value.pk, 'text': value.fields.subgroupname});
                        });
                        $('#subgroup').select2({
                            'data': subgroup_list,
                            placeholder: "Select subgroup"
                        });
                    }
                }
            });
        }
    });

  });

</script>
</html>
