    <div class="modal fade" id="category_list" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Categories</h4>
              </div>
              <div class="modal-body">
                  <div id="jstree">
                    <!-- in this example the tree is populated from inline HTML -->
                    {% if root_list %}
                      <ul>
                        {% for root in root_list %}
                          <li>{{root.name}}
                            <ul>
                              {% for child in child_list %}
                                {% if child.parent == root.id %}
                                <li>{{ child.name }}</li>
                                {% endif %}
                              {% endfor %}
                            </ul>
                          </li>
                        {% endfor %}
                      </ul>
                    {% else %}
                      <ul>
                          {% for child in child_list %}
                            <li>{{ child.name }}</li>
                          {% endfor %}
                      </ul>
                    {% endif %}
                  </div>     
              </div>
            
              <div class="modal-footer" style="border:0px">
              <button type="button" class="btn btn-success" data-dismiss="modal" >Update</button>
              </div>
              </div>
          </div><!-- /.modal-content -->
    </div>
          

