{% load humanize %}
{% load zone %}

<!DOCTYPE html>
<html>
  <head>
    <title>Person Group</title>

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/docs.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery-2.1.0.min.js"></script>
    <script src="/static/js/king-common.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.js"></script>
    
    <script>
    $(function() {
      $( "#enter_date" ).datepicker({ dateFormat: "yy-mm-dd" });
      $( "#rowstamp" ).datepicker({ dateFormat: "yy-mm-dd" });

       // $('#frm_person_group').validate();
    });
    
  </script>
  <link rel="stylesheet" type="text/css" href="/static/asset/bootstrap-select.min.css">
  </head>
  <body>
<div class="top-bar">

  <div class="container">
    <div class="row">
    <!-- logo -->
    <div class="col-md-2 logo">
      <h1 class="sr-only">Admin Dashboard</h1>
    </div>
    <!-- end logo -->
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-3">
         </div>
        <div class="col-md-9">
          <div class="top-bar-right">
            <a href="#" class="hidden-md hidden-lg main-nav-toggle"><i class="fa fa-bars"></i></a>
            <button type="button" id="start-tour" class="btn btn-link"><i class="fa fa-refresh"></i>for more</button>
          </div>
        </div>
      </div>
     </div>
    </div><!-- /row -->
  </div><!-- /container -->
</div>
<div class="container"  >
    <div class="row">
      <div class="col-md-2 left-sidebar">

            <!-- main-nav -->
            <nav class="main-nav">
              
              <ul class="main-menu">
              <img src="/static/img/logo.png">
                <li><a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i><span class="text">Dashboard</span></a></li>
                  <li  ><a href="#" class="js-sub-menu-toggle"><i class="glyphicon glyphicon-user"></i><span class="text ">Person</span>
                  <i class="toggle-icon fa fa-angle-left"></i></a>
                  <ul class="sub-menu  ">
                    <li  ><a href="/personadmin/listview"><span class="text">View</span></a></li>
                    <li><a href="/personadmin/home/"><span class="text">Add</span></a></li>
                  </ul>
                </li>
                <li  ><a href="#" class="js-sub-menu-toggle"><i class="glyphicon glyphicon-th"></i><span class="text">Workgroup</span>
                  <i class="toggle-icon fa fa-angle-left"></i></a>
                  <ul class="sub-menu  ">
                    <li  ><a href="/persongroupadmin/add/workgroup"><span class="text">Add</span></a></li>
                    <li><a href="/persongroupadmin/remove/workgroup"><span class="text">Remove</span></a></li>
                  </ul>
                </li>
                <li  ><a href="#" class="js-sub-menu-toggle"><i class="glyphicon glyphicon-th-list"></i><span class="text">Subgroup</span>
                  <i class="toggle-icon fa fa-angle-left"></i></a>
                  <ul class="sub-menu  ">
                    <li  ><a href="/persongroupadmin/add/subgroup"><span class="text">Add</span></a></li>
                    <li><a href="/persongroupadmin/remove/subgroup"><span class="text">Remove</span></a></li>
                    <li  ><a href="/persongroupadmin/home"><span class="text">Add Mapping</span></a></li>
                    <li  ><a href="/persongroupadmin/remove"><span class="text">Remove Mapping</span></a></li>
                  </ul>
                </li>
                <li  ><a href="#" class="js-sub-menu-toggle"><i class="glyphicon glyphicon-cog"></i><span class="text">Role</span>
                  <i class="toggle-icon fa fa-angle-left"></i></a>
                  <ul class="sub-menu  ">
                    <li  ><a href="/role/add"><span class="text">Add</span></a></li>
                    <li><a href="/role/manage"><span class="text">Assign Role</span></a></li>
                    <li  ><a href="/role/remove"><span class="text">Remove Role</span></a></li>
                  </ul>
                </li>
                <li  ><a href="#" class="js-sub-menu-toggle"><i class="glyphicon glyphicon-plus-sign"></i><span class="text">Privilege</span>
                  <i class="toggle-icon fa fa-angle-left"></i></a>
                  <ul class="sub-menu  ">
                    <li  ><a href="/privilege/add"><span class="text">Add</span></a></li>
                    <li><a href="/privilege/manage"><span class="text">Assign Privilege</span></a></li>
                    <li  ><a href="/privilege/remove"><span class="text">Remove Privilege</span></a></li>
                  </ul>
                </li>
              </ul>
            </nav><!-- /main-nav -->
            <div class="sidebar-minified js-toggle-minified">
              <i class="fa fa-angle-left"></i>
            </div>
            <div class="sidebar-content">
              <div class="panel panel-default">
                <div class="panel-heading"><h5><i class="fa fa-lightbulb-o"></i> Tips</h5></div>
                <div class="panel-body">
                  <p>You can do live search to the widget at search box located at top bar. It's very useful if your dashboard is full of widget.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-10 content-wrapper">
            
            
            <!-- main -->
            <div class="content">
              <div class="main-header">
                <h2>Upload Person CSV</h2>
              </div>

              <div class="main-content">
                <!-- WIDGET WIZARD -->
                <div class="widget">
                  <div class="widget-header"><h3><i class="fa fa-magic"></i>Upload CSV</h3></div>
                  <div class="widget-content">
                    <div class="wizard-wrapper">
                      <div id="demo-wizard" class="wizard">
                      <form  id="myform" name ="myform" method='post' action='' enctype="multipart/form-data" >
                        {% csrf_token %}    
                        <div class="container"> 
                        <div class="row">
                          {% if messages %}
                              {% for message in messages %}
                              <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                              {% endfor %}
                          {% endif %}
                        </div>
                        <fieldset>
                          <!-- <div class="controls" style="width:400px;margin-left:20%">   -->
                          <input type="file" name="filename" size="chars" required><br> 
                           <button class="btn btn-success" type="submit" id="rw">Upload Now</button>  
                           <!--  -->
                            </form> 
                            <a href="/change/username/" class="btn btn-info">Update Username</a>
                          <!-- </div> -->
                        </fieldset>
                        </div>
                     
                      
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END WIDGET WIZARD -->
              </div><!-- /main-content -->
            </div><!-- /main -->
          </div>
        </div>
      </div>
  </body>

</html>