{% load humanize %}
{% load zone %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Oneconsole | Dashboard</title>
    {% include "components/css.html"%}
    <style type="text/css">
      .borderless tbody tr td, .borderless thead tr th {
      border: none;
      }
      table.fixed { table-layout:fixed; word-break:break-all;}
      table.fixed td { overflow: hidden; }
      input[type="radio"] {
        margin-top: -1px;
        vertical-align: middle;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="/static/asset/bootstrap-select.min.css">
  </head>
  <body class="fixed" style="font-size:13px">

    {% include "components/header.html"%}

        <div class="wrapper">
          {% include "side_bar/sidebar.html"%}

          <div class="rightside">
            <div class="page-head" style="margin-top:10px">
                <h1 class="text-thin">Search | <small>Knowledge Base</small></h1>
                <ol class="breadcrumb">
                   <li>You are here:</li>
                    <li><a href="/">Home</a></li>
                    <li class="active">Knowledge Base</li>
                </ol>
            </div>

            <div class="content">
            {% if messages %}
                <ul>
                {% for message in messages %}
                {% if message.tags == 'success' %}
                  <div class="alert alert-success" >{{ message|safe }}</div>
                  {% else %}
                    <div class="alert alert-danger" >{{ message|safe }}</div>
                  {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
              <div class="col-sm-12">
                    <div class="widget">
                    <div class="row">
                      <div class="col-sm-12">
                        
                      
                      <form  id="frm_person_group" name ="frm_person_group" method='post' action='/kb/search/'>{% csrf_token %}         
                        <div class="input-group">
                            <input type="text" class="form-control" name="kb_search" placeholder="Search Symptom..."/ required>
                            <span class="input-group-btn">
                                <button type="submit" id="search-btn" class="btn btn-success"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        </div>
                    </form>
                    </div>
                    <br>
                    <div class="box">
                      <div class="box-title">
                        <span>Search Results</span>
                      </div>
                      <div class="box-body table-responsive no-padding">
                        <table class="table table-hover borderless table-striped fixed" id="table_1">
                              <thead>
                              <tr>
                                <th>Symptom</th>
                                <th>Cause</th>
                                <th>Resolution</th>
                                <th>Customer</th>
                                <th>Global View</th>
                                <th>No of Visits</th>
                              </tr> 
                              </thead>
                              <tbody>
                              {% for kb in kb_list %}
                              <tr>
                                <td>{{ kb.symptom }}</td></a>
                                <td>{{ kb.cause }}</td>
                                <td>{{ kb.resolution }}</td>
                                <td>{{ kb.customer }}</td>
                                {% if kb.glob == True %}
                                  <td>yes</td>
                                {% else %}
                                  <td>No</td>
                                {% endif %}
                                <td>{{ kb.visits }}</td>
                              {% endfor %}
                            </tbody>
                            </table>
                      </div>
                    </div>






<!-- 

                  <div class="widget-content">
                          <div class="wizard-wrapper">
                            <div id="" class="wizard">
                              <div class="navbar-header" style="width:300px">
                              <form  id="frm_person_group" name ="frm_person_group" method='post' action='/kb/search/'>{% csrf_token %}
                                  
                                      <div class="input-group">
                                          <input type="text" class="form-control" name="kb_search" placeholder="Search Symptom..."/>
                                          <span class="input-group-btn">
                                              <button type="submit" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
                                          </span>
                                      </div>
                                  </form>
                              </div>

                            <table class="table table-hover borderless table-striped fixed" id="example">
                              <thead>
                              <tr>
                                <th>Symptom</th>
                                <th>Cause</th>
                                <th>Resolution</th>
                                <th>Customer</th>
                                <th>Global View</th>
                                <th>No of Visits</th>
                              </tr> 
                              </thead>
                              <tbody>
                              {% for kb in kb_list %}
                              <tr>
                                <td>{{ kb.symptom }}</td></a>
                                <td>{{ kb.cause }}</td>
                                <td>{{ kb.resolution }}</td>
                                <td>{{ kb.customer }}</td>
                                {% if kb.glob == True %}
                                  <td>yes</td>
                                {% else %}
                                  <td>No</td>
                                {% endif %}
                                <td>{{ kb.visits }}</td>
                              {% endfor %}
                            </tbody>
                            </table>
                              
                            </div>

                          </div>
                      </div>

                    <div class="row">
                      <div class="col-md-6">
                      </div>
                      <div class="col-md-6">
                        <div class="dataTables_paginate paging_bootstrap">
                          <ul class="pagination">                      
                            <li class="prev">
                            {% if kb_list.has_previous %}
                              <a href="?page={{ kb_list.previous_page_number }}">←</a>
                              {% endif %}
                            </li>
                            <li class="active">
                              <a href="">{{ kb_list.number }}</a>
                            </li>
                            <li class="next">
                            {% if kb_list.has_next %}
                            <a href="?page={{ kb_list.next_page_number }}">→</a>
                            {% endif %}
                            </li>
                          </ul>
                        </div>
                      </div>
                      </div>

                    </div>
                  </div> -->
            </div>
          </div>
        </div>
    {% include "components/footer.html"%}
    {% include "components/service_request.html" %}
     <script>            
      $("#search_main").addClass("active");
      $("#search_sub_nav").css({'display' : 'block'});
      $("#know_base").addClass("active");        
    </script>   
    <script type="text/javascript">
        $('#table_1').DataTable();
        </script>
    </body>
</html>



<div class="modal fade" id="add_category" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="ModalLabel">Add New </h4>
      </div>
      <div class="modal-body">
        <form method="post" action="/kb/create">{% csrf_token %}
          <div class="row">
            <div class="col-sm-12">
              <textarea id="symptom" class="form-control" name="symptom" placeholder="Symptom" rows="4" cols="35" required></textarea>
              <br>
              <textarea id="cause" class="form-control" name="cause" placeholder="Cause" rows="4" cols="35" required></textarea>
              <br>
              <textarea id="resolution" class="form-control" name="resolution" placeholder="Resolution" rows="4" cols="35"></textarea>
              <br>
              <div class="row">
                <div class="col-sm-5">
                  <select class="form-control" id="customerid" name="customerid" required style="">
                    <option value="">Select Customer</option>
                      {% for customer in customers %}
                    <option value="{{ customer.id }}">{{ customer.customername }}</option>
                  {% endfor %}
                  </select>
                </div>
                <div class="col-sm-5">
                  <div class="row" style="padding:7px">
                    <label>Global: </label>
                    <input  type="radio" id="root" name="glob"  value="yes" required>Yes
                    <input  type="radio" id="not_root" name="glob" value="no" >No<br>
                  </div>
                </div>

                <div class="col-sm-2">
                  <button class="btn btn-success " type="submit" >Add</button>
                </div>
              </div>           
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


