{% extends 'aws/aws_base.html'%}
{% block section_header %}
<script type="text/javascript">
  cloud_account_id = {{cloud_account_id}}
</script>
    <h1>
        AWS User List
        <small>User Overview</small>
    </h1>

    <ol class="breadcrumb">
      <li>
        <a href="{% url 'aws_accounts_view' %}">AWS Home </a>
      </li>


      <li>
        <a href="{% url 'iam_overview' cloud_account_id %}">IAM Overview</a>
      </li>


      <li>
        <a href="{% url 'iam_user_list' cloud_account_id %}">User List</a>
      </li>


        <!--     <li>
        <a href="{% url 'aws_details_dashboard' cloud_account_id %}">AWS Dashboard</a>
        </li> -->
      <li class="active">
        <strong>AWS User List</strong>
      </li>
    </ol>
{% endblock %}

{% block content %}{% load staticfiles %}
<div ng-controller='IAM_user_details_controller' ng-init="init('{{csrf_token}}','{{username}}')">


<div class="row demo-nifty-panel">
	<div class="col-sm-12">
		<!--Mint Panel-->
		<!--===================================================-->
		<div class="panel panel-mint">
			<div class="panel-heading">
				<h3 class="panel-title">Access Key Details</h3>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
			      <table class="table table-striped table-hover">
			        <thead>
			          <tr>
			            <th>User Name</th>
			            <th>access_key_id</th>
			            <th>Status</th>
			            <th>Create Date</th>
			          </tr>
			        </thead>
			        <tbody>

			        {% for acess_key_obj in access_key_details%}
			          <tr>
			            <td>{{acess_key_obj.user_name}}</td>
			            <td>{{acess_key_obj.access_key_id}}</td>
			            <td>
			            {% if acess_key_obj.status == 'Active'%}
			            <span class="label label-table label-success">{{acess_key_obj.status}}</span>
			            {% else %}
			            <span class="label label-table label-danger">{{acess_key_obj.status}}</span>
			            {% endif %}
			            </td>
			            <td>{{acess_key_obj.create_date}}</td>
			          </tr>
			        {% endfor %}
			        </tbody>
			      </table>
			   </div>
		</div>
		<!--===================================================-->
		<!--End Mint Panel-->

	</div>
</div>



	<div class="col-sm-6">

		<!--Info Panel-->
		<!--===================================================-->


	  <div class="alert alert-success fade in" ng-show="response_status === 1" ng-style="response_status != 1 && {'display': 'none'}">
	    <button class="close" data-dismiss="alert"><span>×</span></button>
	    <strong>Well done!</strong> {[{response_message}]}.
	  </div>

	  <div class="alert alert-danger fade in" ng-show="response_status === 0" style="display:none" ng-style="response_status != 0 && {'display': 'none'}">
	    <button class="close" data-dismiss="alert"><span>×</span></button>
	    <strong>Oh snap!</strong> {[{response_message}]}.
	  </div>



		<div class="panel panel-info">



			<div class="panel-heading">
				<div class="panel-control">
					<button id="iam-group-btn-addrow" ng-click='get_all_group_list()' class="btn btn-waring btn-labeled fa fa-plus">Add To Group</button>
				</div>
				<h3 class="panel-title">Group Details</h3>
			</div>



			<div class="panel-body">
			    <div class="table-responsive">
			      <table class="table table-striped table-hover">
			        <thead>
			          <tr>
			            <th>Group Name</th>
			            <th>Create Date</th>
			            <th  class="text-center">Actions</th>
			          </tr>
			        </thead>
			        <tbody>

			          <tr ng-repeat='group_obj in iam_group_list_for_user'>
			            <td>{[{group_obj.group_name}]}</td>
			            <td>{[{group_obj.create_date}]}</td>
			            <td class="text-center">
			              <a class="btn btn-xs btn-danger add-tooltip" data-toggle="tooltip" href="#" data-original-title="Delete" ng-click="remove_user_from_iam_group(group_obj.group_name)"><i class="fa fa-times"></i></a>
			            </td>
			          </tr>
			        </tbody>
			      </table>
			   </div>
		</div>
		<!--===================================================-->
		<!--End Info Panel-->
</div>

	</div>
	<div class="col-sm-6">

		<!--Success Panel-->
		<!--===================================================-->
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Policies Details</h3>
			</div>
			<div class="panel-body">
		    	<div class="table-responsive">


		        {% if not policies_details%}
			        <p> No data found</p>
		        {% else %}
			      <table class="table table-striped table-hover">
			        <thead>
			          <tr>
			            <th>User Name</th>
			            <th>ARN</th>
			            <th>Create Date</th>
			            <th>Actions</th>
			          </tr>
			        </thead>
			        <tbody>
}

			        {% for policy_obj in policies_details%}
			          <tr>
			            <td>{{policy_obj.user_name}}</td>
			            <td>{{policy_obj.arn}}</td>
			            <td>{{policy_obj.create_date}}</td>
			            <td>
			              <a class="btn btn-xs btn-default add-tooltip" data-toggle="tooltip" href="" data-original-title="Edit" data-container="body"><i class="fa fa-pencil"></i></a>
			            </td>
			          </tr>
			        {% endfor %}
			        </tbody>
			      </table>
			     {% endif %}
			     </div>
			</div>
			<!--===================================================-->
			<!--End Success Panel-->
		</div>
	</div>














</div>



  <div id="iam-groups-dropdown-modal" class="modal fade bs-example-modal-sm" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-body">
		      <div class="table-responsive">
		      <span ng-show='iam_group_list.length==0'>No Groups Available</span>
		        <table class="table table-striped table-hover" ng-show='iam_group_list.length!=0'>
		          <thead>
		            <tr>
		              <th></th>
		              <th>Group Name</th>
		              <th>Group Id</th>
		              <th>Create Date</th>
		            </tr>
		          </thead>
		          <tbody>

		            <tr ng-repeat = "group_obj in iam_group_list | filter:group_sort">
		              <td>
		                 <input name="iam_group_check_box" type="checkbox" value="{[{group_obj.group_name}]}">
		              </td>
		              <td>{[{group_obj.group_name}]}</td>
		              <td>{[{group_obj.group_id}]}</td>
		              <td>{[{group_obj.create_date}]}</td>
		            </tr>

		          </tbody>
		        </table>
		      </div>
          </div>
          <div class="modal-footer">
            <button data-bb-handler="cancel" data-dismiss="modal"  type="button" class="btn btn-default">Cancel</button>
            <button data-bb-handler="confirm" ng-click='add_user_to_groups()' type="button" class="btn btn-primary" ng-show='iam_group_list.length!=0'>OK</button>
          </div>
      </div>
    </div><!-- /.MODAL -->
  </div>







</div>

{% endblock%}