{% extends 'aws/aws_base.html'%}
{% block section_header %}
    <script>
        var node_unique_id = '{{selected_node_id}}'
        var cloud_account_id = '{{ cloud_account_id }}'
    </script>           
    <h1>
        AWS Node Detials
        <small>Node statistics and operations</small>
    </h1>

    <ol class="breadcrumb">
        <li>
            <a href="{% url 'aws_accounts_view' %}">AWS Home </a>
        </li>
        <li>
            <a href="{% url 'aws_details_dashboard' cloud_account_id %}">AWS Dashboard</a>
        </li>
        <li>
            <a href="{% url 'aws_node_list' cloud_account_id %}">AWS Node List</a>
        </li>
        <li class="active">
            <strong>Instance Details</strong>
        </li>
    </ol>
{% endblock %}

{% block content %}{% load staticfiles %}
<div class="messages" id = "response_messages">

</div>

<div ng-controller="NodeDetailsController">

<div class="row">
    <div class="col-xs-9">
        <div class="row ">
            <div class="col-md-11 " >
                <div class="nav-tabs-custom">
                    <div class="tabs" >
                        <ul class="nav nav-tabs" id="myTab">
                            <li><a href="#tabs-1" id="ui-id-1"> Node Status</a></li>
                            <li><a href="#tabs-2" id=" ">Information</a></li>
                            <li><a href="#tabs-4" id=" ">Connecting to Instance</a></li>
                            <li><a href="#tabs-3" id=" ">Tags</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="tabs-1">
                            <h4>
                                CPU Usage Overview
                                <small>Last Hour Details(UTC)</small>
                            </h4>
                            <div class="row">
                                <div class="col-lg-12">
                                    <canvas id="cpudetails" width="700" height="300"></canvas>
                                </div>
                            </div>
                            <h4>
                                Network Usage Overview
                                <small>Last Hour Details(UTC)</small>
                            </h4>
                            <div class="row">
                                <div class="col-lg-12">
                                    <canvas id="network_node_overall" width="700" height="300"></canvas>
                                </div>
                            </div>

                        </div>
                        <div id="tabs-2">
                                {% include 'aws/instance_detail_table.html' %}
                        </div>
                        <div id="tabs-3">
                                <div class="table">
                                    <table class="table no-margin" id="node_table">
                                        <thead>
                                          <tr>
                                            <th style="width: 50%;"><div>Key</div></th>
                                            <th style="width: 50%;"><div>Value</div></th><th><div></div></th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat = "(key, value) in aws_instance_tag_details track by $index">
                                              <td style="width: 50%;">{[{key}]}</td>
                                              <td style="width: 50%;">{[{value}]}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><!-- /.table-responsive -->
                        </div>
                        <div id="tabs-4">

                            <section class="content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                      
                                        </div>
                                        <div class="col-md-8">
                                          <h4 class="pull-right"><a href="{% url 'generate_key_pair' cloud_account_id selected_node_id %}">Download Keypair </a></h4>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                       
             <h4>To connect to your Linux instance using a web browser</h4>

            <p>To access your instance:</p>
<p>Open an SSH client. (find out how to connect using PuTTY)</p>
<p>Locate your private key file (DEV-Instance.pem). The wizard automatically detects the key you used to launch the instance.</p>
<p>Your key must not be publicly viewable for SSH to work. Use this command if needed:</p>
<p>chmod 400 DEV-Instance.pem</p>
<p>Connect to your instance using its Public IP:</p>
52.7.118.105</p>
<p>Example:</p>
<p>ssh -i DEV-Instance.pem ubuntu@52.7.118.105</p>
<p>Please note that in most cases the username above will be correct, however please ensure that you read your AMI</p> <p>usage instructions to ensure that the AMI owner has not changed the default AMI username.</p>
<p>If you need any assistance connecting to your instance, please see our connection documentation.</p>
                                       
                                    </div>
                                </div>
                            </section>
                        
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-xs-12">
                          <div class="box box-solid">
                                  <div class="box-header">
                                      <i class="fa fa-bar-chart-o"></i>
                                      <h3 class="box-title">Network Incoming and Outgoing(B/s)</h3>
                                  </div>
                                  <div class="box-body">
                                      <div class="row">
                                          <canvas id="network_node_overall" width="700" height="300"></canvas>
                                      </div>
                                  </div>
                          </div>

                    </div>
                </div> -->
            </div>
        </div>
  </div>
  <div class="col-xs-3">
        <div class="box ">
            <div class="box-body">
                <ul class="todo-list ui-sortable">
                    <li>
                        <!-- drag handle -->
<!--                         <span class="handle ui-sortable-handle">
                            <i class="fa fa-ellipsis-v"></i>
                        </span> -->
                        <!-- todo text -->
<!--                         <a href="#">
                            <span> Edit Instance</span>
                        </a> -->
                        <!-- Emphasis label -->
                    </li>
                    <li>
                        <span class="handle ui-sortable-handle">
                         <i class="fa fa-ban"></i>
                        </span>
                        <!-- todo text -->
                        <a href="" ng-click="node_stop()">
                            <span>Stop Instance</span>
                        </a>
                    </li>
                    <li>
                         <span class="handle ui-sortable-handle">
                         <i class="fa fa-flash"></i>
                        </span>
                        <!-- todo text -->
                        <a href="" ng-click="node_start()">
                            <span>Start Instance</span>
                        </a>
                    </li>
                </ul>
            </div>
      </div>
  </div>
</div>

</div><!-- controller end-->


<script type="text/javascript">
  $( document ).ready(function() {
        jQuery('.tabs #myTab a').on('click', function(e)  {
            var currentAttrValue = jQuery(this).attr('href');
            // Show/Hide Tabs
            jQuery('.tab-content ' + currentAttrValue).show().siblings().hide();
            $(''+currentAttrValue+'').show()
     
            // Change/remove current tab to active
            jQuery(this).parent('li').addClass('active').siblings().removeClass('active');
     
            e.preventDefault();
        });
        $('#ui-id-1').click();

            setTimeout(function () {
                $(".alert_div").hide();
            }, 3000);

  });
</script>


{% endblock%}