{% load zone %}
<script type="text/javascript" src="/static/plain_chart/springy.js"></script>
<script type="text/javascript" src="/static/plain_chart/springyui.js"></script>
<script src="/static/chartjs/Chart.js"></script>
<script src="/static/wysihtml5/lib/js/wysihtml5-0.3.0.js"></script>
<script src="/static/wysihtml5/bootstrap-wysihtml5.js"></script>
<script type="text/javascript" charset="utf8" src="/static/countdown/jquery.countdown.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.approval_required').hide();
        $('#severity').hide();
        $('#severity_dt').hide();
        $.ajax({
            url:"{% url 'ticket_details_page' ticket.id %}",
            type:"GET",
            dataType:"json",
            success : function(data) {
                if (data['monitoring_relation'].length > 0) {
                    var obj = $('.nav-tabs').find('a[href="#monitoring"]').parent().css('display', 'block');
                    var graph = new Springy.Graph();
                    var monitoring_relation = data['monitoring_relation'];
                    var monitoring_ci_relation = data['monitoring_ci_relation'];
                    nodes_list = []
                    edges_list = []
                    for (var i in monitoring_relation) {
                        nodes_list.push(monitoring_relation[i].names)
                    }
                    for (var i in monitoring_ci_relation) {
                        edges_list.push([monitoring_ci_relation[i].obj1, monitoring_ci_relation[i].obj2, {'color': monitoring_ci_relation[i].color_code, 'label': monitoring_ci_relation[i].name}])
                    }
                    graphJSON = {
                        'nodes': nodes_list,
                        'edges': edges_list
                    };
                    graph.loadJSON(graphJSON);
                    $('#springydemo').springy({graph: graph});
                }
                if (data['security_relation'].length > 0) {
                    var obj = $('.nav-tabs').find('a[href="#security"]').parent().css('display', 'block');
                    var security_graph = new Springy.Graph();
                    var security_relation = data['security_relation'];
                    var security_relation_ci = data['security_ci_relation']
                    nodes_list = []
                    edges_list = []
                    for (var i in security_relation) {
                        nodes_list.push(security_relation[i].names)
                    }
                    for (var i in security_relation_ci) {
                        edges_list.push([security_relation_ci[i].obj1, security_relation_ci[i].obj2, {'color': security_relation_ci[i].color_code, 'label': security_relation_ci[i].name}])
                    }
                    graphJSON = {
                        'nodes': nodes_list,
                        'edges': edges_list
                    };
                    security_graph.loadJSON(graphJSON);
                    $('#springydemo_security').springy({graph: security_graph})
                }
                if (data['destinationip'].length > 0) {
                    var obj = $('.nav-tabs').find('a[href="#securitymon"]').parent().css('display', 'block');
                    $('#destination_ip_val').val(data['destinationip']);
                }
            },
            error : function(xhr,errmsg,err) {
                console.log(err);
            }
        });
        var customerid = $('#customer_id_val').val();
        if (customerid == "EGA") {
            $('.impacted_ailin_cls').show();
            $.ajax({
                url:"/impacted_airlines/",
                type:"GET",
                dataType:"json",
                success : function(data) {
                    for (var i in data){
                        $("#impacted_airline_stat").append($('<option>', {value:data[i][0],text:data[i][1]}))
                    }
                    {% if ticket.impacted_airline %}
                        $("#impacted_airline_stat").val({{ticket.impacted_airline.id}})
                    {% endif %}
                    $("#impacted_airline_stat").prop('required', true);
                },
                error : function(xhr,errmsg,err) {
                    console.log(err);
                }
            });

        } else {
            $('.impacted_ailin_cls').hide();
            $("#impacted_airline_stat").prop('required', false);
        }
        // fetch subgroup list
        if ($('#workgroup').val()) {
            fetch_subgroup_list($('#workgroup').val());
        }
        // fetch subgroup list on change
        $("#workgroup").on('change',function(){
            $("#subgroup option:gt(0)").remove().end();
            if($("#workgroup").text()!='-Select Group-'){
                fetch_subgroup_list(this.value);
            }
        });
        $("#ticket_customer").on('change',function(){
            $("#cat_name option:gt(0)").remove().end();
            $("#sub_cat_name option:gt(0)").remove().end();
            $("#workgroup option:gt(0)").remove().end();
            $("#subgroup option:gt(0)").remove().end();
            if($("#ticket_customer :selected").text()!='-Select Customer-'){
                $.ajax({
                    url:"/ticket/incident/customer",
                    type:"POST",
                    dataType:"json",
                    data:{
                        groupid : this.value,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success : function(data) {
                        var customerid = data.customer;
                        var sr_approval_enabled = data.sr_approval;
                        $('#cust_sr_enabled').val(sr_approval_enabled);
                        data = JSON.parse(data['group_list']);
                        $('#ticket_cust').val(customerid);
                        var cust_id = $('#ticket_cust').val();
                        var ticket_type = $('#ticket_typee').val();
                        if ((sr_approval_enabled == true || sr_approval_enabled == "true")&& ticket_type == 'SR') {
                            $('.approval_required').show();
                        } else {
                            $('.approval_required').hide();
                        }
                        if (customerid == "EGA") {
                            $('.impacted_ailin_cls').show();
                            fetch_impacted_airline_list();
                        } else {
                            $('.impacted_ailin_cls').hide();
                            $("#impacted_airline_stat").prop('required', false);
                        }
                        for (var i in data){
                            $("#workgroup").append($('<option>', {value:data[i].pk,text:data[i].fields.workgroup}))
                        }

                    },
                    error : function(xhr,errmsg,err) {
                        console.log(err);
                    }
                });
                fetch_category_list($('#ticket_customer').val());
            }
        });
        $("#ticket_typee").on('change',function(){
            var cust_id = $('#ticket_cust').val();
            var ticket_type = $('#ticket_typee').val();
            var sr_enabled = $('#cust_sr_enabled').val();
            if ((sr_enabled == true || sr_enabled == "True")&& ticket_type == 'SR') {
                $('.approval_required').show();
            } else {
                $('.approval_required').hide();
            }
            $('#internal_priority option:gt(0)').remove().end();
            if (ticket_type != 'IN'){
                $('#severity').hide();
                $('#severity').prop('required',false);
                $('#severity_dt').hide();
                $('#severity option:gt(0)').remove().end();
            }
            if (ticket_type == 'IN' || ticket_type == 'PB'){
                $("#internal_priority").append($('<option>', {value:'Critical',text:'Critical'})) ;
                $("#internal_priority").append($('<option>', {value:'High',text:'High'})) ;
                $("#internal_priority").append($('<option>', {value:'Medium',text:'Medium'})) ;
                $("#internal_priority").append($('<option>', {value:'Low',text:'Low'})) ;
                {% if ticket.internalpriority %}
                    $("#internal_priority").val("{{ticket.internalpriority}}");
                {% endif %}
            } else if (ticket_type == 'SR'){
                $('#internal_priority').append($('<option>', {value:'Urgent',text:'Urgent'}));
                $('#internal_priority').append($('<option>', {value:'Normal',text:'Normal'}));
                $('#internal_priority').append($('<option>', {value:'Purchase',text:'Purchase'}));
            } else if (ticket_type == 'CH') {
                $('#internal_priority').append($('<option>', {value:'Change',text:'Change'}));
            }
        });
        $("#internal_priority").on('change',function(){
            var ticket_type = $('#ticket_typee').val();
            var internal_priority = $('#internal_priority').val();
            $('#severity option:gt(0)').remove().end();
            if ($('#ticket_customer').val()) {
                var customer_ids = $('#ticket_customer').val();
            } else {
                var customer_ids = $('#customr_tic_val').val();
            }
            get_severity_list(customer_ids, internal_priority);
        });
        $("#priority_data").on('change',function(){
            var ticket_type = $('#ticket_class').val();
            var internal_priority = $('#priority_data').val();
            $('#severity_data option:gt(0)').remove().end();
            var customer_ids = $('#customr_tic_val').val();
            get_severity_list(customer_ids, internal_priority, is_priority="True");
        });
        // ticket description editor
        var content_editor = $('#ticket_content_editor').wysihtml5({
            "color": true,
            "link": false,
            "image": false,
            "stylesheets": ["/static/customer/css/bootstrap-wysihtml5/wysiwyg-color.css"],
        });
        // worklog content editor
        var work_log_content_editor = $('#work_log_content_editor').wysihtml5({
            "color": true,
            "link": false,
            "image": false,
            "stylesheets": ["/static/customer/css/bootstrap-wysihtml5/wysiwyg-color.css"],
        });
        // worklog reply editor
        $('#worklog_body').wysihtml5({
            "color": true,
            "link": false,
            "image": false,
            "stylesheets": ["/static/customer/css/bootstrap-wysihtml5/wysiwyg-color.css"],
        });
        // Worklog Body
        $('#body').wysihtml5({
            "color": true,
            "link": false,
            "image": false,
            "stylesheets": ["/static/customer/css/bootstrap-wysihtml5/wysiwyg-color.css"]
        });
        var cssLink = document.createElement("link");
        cssLink.href = "/static/customer/css/bootstrap-wysihtml5/wysiwyg-color.css";
        cssLink.rel = "stylesheet";
        cssLink.type = "text/css";

        var iframe_object = document.getElementById('html_ticket_description')
        if (iframe_object) {
            iframe_object.contentDocument.head.appendChild(cssLink)
        }

        var work_log_iframe_objects = document.getElementsByClassName('work_log_content_iframe')
        $.each( work_log_iframe_objects, function( index, value ){
          value.contentDocument.head.appendChild(cssLink)
        });
    });

    // knowledgebase table
    $('#from_kb').on('click', function() {
        $("#resolve").modal('hide');
    });
    $('#kb_table').dataTable();
    $('table[id=kb_table] tr').click(function(){
        var symptom = this.cells[1].innerHTML;
        var cause = this.cells[2].innerHTML;
        var resolution = this.cells[3].innerHTML;
        $("#autofill_symptom").val(symptom);
        $("#autofill_cause").val(cause);
        $("#autofill_resolution").val(resolution);
        $('#is_kb_used').val(this.cells[0].innerHTML);
        fetch_resolution_codes();
        $('#kb_modal').modal('hide');
        $('#resolve').modal('show');

    });

    // change priority
    function change_priority() {
        var priority = $('#ticket_priority').val();
        var customer_ids = $('#customr_tic_val').val();
        get_severity_list(customer_ids, priority, is_priority="True");
    }

    // fetch resolution codes
    function fetch_resolution_codes() {
        var customer_ids = $('#customr_tic_val').val();
        var cls = $('#tic_cls').val();
        if (cls == "IN") {
            if (customer_ids) {
                $.ajax({
                    url :"/resolution_codes/?customer="+customer_ids,
                    type:"GET",
                    dataype:"json",
                    success:function(data){
                        $("#resolutin_code_fetch option:gt(0)").remove();
                        resolution_codes_list = data;
                        if (resolution_codes_list.length > 0) {
                            for (var i in resolution_codes_list) {
                                $("#resolutin_code_fetch").append($('<option>', {value:resolution_codes_list[i][0], text:resolution_codes_list[i][1]}));
                            }
                        }
                    }
                });
            }
        }
    }

    // fetch severity list corresponding to the customer, priority
    function get_severity_list(customer_ids, priority, is_priority) {
        $.ajax({
            url :"/fetch_severity_list/?customer="+customer_ids+"&priority="+priority,
            type:"GET",
            dataype:"json",
            success:function(data){
                if (is_priority) {
                    $("#severity_data option:gt(0)").remove();
                    severity_list = data;
                    if (severity_list.length > 0) {
                        $('#severity_data').show();
                        $('#severity_data_txt').show();
                        $('#severity_data').prop('required',true);
                        for (var i in severity_list) {
                            $("#severity_data").append($('<option>', {value:severity_list[i][0], text:severity_list[i][1]}));
                        }
                    } else {
                        $('#severity_data option:gt(0)').remove().end();
                        $('#severity_data').hide();
                        $('#severity_data').prop('required',false);
                        $('#severity_data_txt').hide();
                    }
                } else {
                    $("#severity option:gt(0)").remove().end();
                    severity_list = data;
                    if (severity_list.length > 0) {
                        $('#severity').show();
                        $('#severity').prop('required',true);
                        $('#severity_dt').show();
                        for (var i in severity_list) {
                            $("#severity").append($('<option>', {value:severity_list[i][0], text:severity_list[i][1]}));
                        }
                    } else {
                        $('#severity').hide();
                        $('#severity').prop('required',false);
                        $('#severity_dt').hide();
                    }
                }
            },
            error: function(xhr,errmsg,err) {
                console.log(xhr);
            }
        });
    }

    // fetch subcategory list 
    function load_subcategory_list(){
        if ($('#cat_name').val()) {
            $.ajax({
                url :"/category/enduser",
                type:"POST",
                dataype:"json",
                data:{
                    catty: $('#cat_name').val() ,
                    csrfmiddlewaretoken:'{{csrf_token}}'
                },
                success:function(data){
                    $("#sub_cat_name option:gt(0)").remove().end();
                    cat_list = JSON.parse(data);
                    for (var i in cat_list){
                        $("#sub_cat_name").append($('<option>', {value:cat_list[i].pk, text:cat_list[i].fields['name']}));
                    }
                },
                error: function(xhr,errmsg,err){
                }
            });
        }
    }

    // fetch category list corresponding to the customer
    function fetch_category_list(customer_id) {
        $.ajax({
            url :"/category/enduser",
            type:"POST",
            dataype:"json",
            data:{
                custid: customer_id,
                csrfmiddlewaretoken:'{{csrf_token}}'
            },
            success:function(data){
                cat_list = JSON.parse(data);
                for (var i in cat_list){
                    $("#cat_name").append($('<option>', {value:cat_list[i].pk, text:cat_list[i].fields['name']}));
                }
            },
            error: function(xhr,errmsg,err){
                console.log(xhr);
            }
        });
    }

    // fetch impacted airline
    function fetch_impacted_airline_list(){
        $.ajax({
            url:"/impacted_airlines/",
            type:"GET",
            dataType:"json",
            success : function(data) {
                for (var i in data){
                    $("#impacted_airline_stat").append($('<option>', {value:data[i][0],text:data[i][1]}))
                }
                $("#impacted_airline_stat").prop('required', true);
            },
            error : function(xhr,errmsg,err) {
                console.log(err);
            }
        });

    }

    // fetch subgroup list corresponding to the workgroup
    function fetch_subgroup_list(workgroup_id) {
        $.ajax({
            url:"/persongroupadmin/remove/subgroup",
            type:"POST",
            dataType:"json",
            data:{
                workgroupid : workgroup_id,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success : function(data) {
                data = JSON.parse(data);
                for (var i in data){
                    $("#subgroup").append($('<option>', {value:data[i].pk,text:data[i].fields.subgroupname}))
                }
            },
            error : function(xhr,errmsg,err) {
                console.log(err);
            }
        });
    }

    // fetch security monitoring details
    function security_monitoring(){
        var attacks = "";
        if(attacks==""){
            $('#loader_security').show();
            $('#attack_graph_sec').hide();
            $('#error_box').hide();        
            $.ajax({
                url:"/security/ticketdash",
                type: "POST", 
                dataType:"json",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',                    
                    dest_ip: $('#destination_ip_val').val(),
                    ticket_id: $('#ticketidval').val()
                },
                success: function(data){
                    attacks = data.attack_graph;              
                    app_times = [];
                    app_count = [];
                    $.each(attacks,function(i,obj){                  
                        app_times.push(obj.times);
                        app_count.push(obj.count);
                    });
                    var data = {
                        labels:app_times,
                        datasets: [
                            {
                                label: "Attacks",
                                fillColor: "#9cc96b",
                                strokeColor: "#27ae60",
                                highlightFill: "rgba(220,220,220,0.75)",
                                highlightStroke: "rgba(220,220,220,1)",
                                data:app_count 
                            },
                        ]
                    };
                    $('#error_box').hide();
                    $('#loader_security').hide();
                    $('#attack_graph_sec').show(); 
                    var ctx = document.getElementById("charter").getContext("2d");
                    var myLineChart = new Chart(ctx).Bar(data, {showXLabels: 5 , responsive: true});
                },
                error: function(data){
                    $('#loader_security').hide();
                    $('#error_box').show();
                }
            });
        }
    }

    // fetch worklog attachments
    function fetch_attachments(worklog_id) {
        window.open("/worklog_attachments/"+worklog_id+"/", '"'+worklog_id+'"', "_blank", "toolbar=no, scrollbars=yes, resizable=yes, top=500, left=500, width=400, height=400").focus();
    }

    // enable edit ticket content portion
    $('#content_edit_button').on('click', function(){
        $('#non_editabale_ticket_content').toggle();
        $('#editable_ticket_content').toggle();
    });

    // select description of the ticket
    $("#btnSelect").click(function() {
        $('#ticket_description').SelectContent();
    });

    jQuery.fn.SelectContent = function(){
        var doc = document
            , element = this[0]
            , range, selection
        ;
        if (doc.body.createTextRange) {
            range = document.body.createTextRange();
            range.moveToElementText(element);
            range.select();
        } else if (window.getSelection) {
            selection = window.getSelection();        
            range = document.createRange();
            range.selectNodeContents(element);
            selection.removeAllRanges();
            selection.addRange(range);
        }
    };

    // view html version
    function show_html_version(type_id, type_name){
        window.open("/ticket/summary/"+type_id+"/?type_name="+type_name, "show_html_data", "_blank", "toolbar=no, scrollbars=yes, resizable=yes, top=500, left=500, width=400, height=800, overfow=auto").focus();
    }

    // worklog content edit

    $('.work_log_edit_button').on('click', function(){
        var work_log_id = $(this).val()
        $('#work_log_edit_form').get(0).setAttribute('action', "/work_log/"+work_log_id+"/description/edit");
        $("#source_page").val("stat/edit");
        $.ajax({
            url :"/work_log/"+work_log_id+"/description/edit",
            type:"GET",
            dataype:"json",
            success:function(data){
                $('#work_log_content_editor').data("wysihtml5").editor.setValue(data)
                $("#largeModal").modal('show');
            }
        });
    });

    // counter clock
    $("#clock").countdown("{% counter ticket.targetfinish %}", function(event) {
        $(this).text(
            event.strftime('%D days %H:%M:%S')
        );
    });

    // fetch cc attached to the ticket while creation
    function email_cc_capturing(ticket_id){
        $.ajax({
            url:"/ticket_email_cc/"+ticket_id+"/",
            type:"GET",
            dataType:"json",
            success : function(data){
                mails = data.cc_list.substring(0, data.cc_list.length - 1);
                $('#cclist_data').val(mails);
                $('#cc_list').val(mails);
            },
        });
    }
    $('input[name="email_fill"]').on('change', function(){
        if ($(this).is(':checked')){
            $('#append_to').show();
            $('#append_to_cc').show();
        }
        if ($('input[name="email_fill"]:checked').size() == 0 ){
            $('#append_to').hide();
            $('#append_to_cc').hide();
        }
    });
    $('input[name="email_fill_worklog"]').on('change', function(){
        if ($(this).is(':checked')){
            $('#append_to_work_log').show();
        }
        if ($('input[name="email_fill_worklog"]:checked').size() == 0 ){
            $('#append_to_work_log').hide();
        }
    })
    $("#append_to").click(function(){
        mails = ''
        $('input[name="email_fill"]:checked').each(function(){
            if(this.value.length > 0){
                mails += this.value;
                mails+=','
            }
        });
        mails = mails.substring(0, mails.length - 1);
        if(mails.length == 0){
            $('#checked_error').show();
            $('#checked_error').text('Please choose atleast one and add.')
        } else {
            $('#checked_error').hide();
        }
        $("#to").val(mails);
    });
    $("#append_to_cc").click(function(){
        mails = '';
        if ($("#cclist_data").val().length > 0) {
            mails = $("#cclist_data").val();
            mails = mails.substring(0, mails.length - 1);
        }
        cc_ids = $("#cclist_data").val().split(',');
        $('input[name="email_fill"]:checked').each(function(){
            if(this.value.length > 0){
                var index = cc_ids.indexOf(this.value);
                if (index < 0) {
                    if (mails.length > 0)
                        mails+=',';
                    mails += this.value;
                }
            }
        });
        if (mails[mails.length - 1] == ',')
            mails = mails.substring(0, mails.length - 1);
        if(mails.length == 0){
            $('#checked_error').show();
            $('#checked_error').text('Please choose atleast one and add.')
        } else {
            $('#checked_error').hide();
        }
        $("#cc_list").val(mails);
    });
    $("#append_to_work_log").click(function(){
        mails = ''
        $('input[name="email_fill_worklog"]:checked').each(function(){
            if(this.value.length > 0){
                mails += this.value;
                mails+=','
            }
        });
        mails = mails.substring(0, mails.length - 1);
        if(mails.length == 0){
            $('#checked_error_worklog').show();
            $('#checked_error_worklog').text('Please choose atleast one and add.')
        } else {
            $('#checked_error_worklog').hide();
        }
        $("#to_worklog").val(mails);
    });
    function remove_trailing_char() {
        var cc_data = $('#cc_list').val();
        if (cc_data.charAt(cc_data.length - 1) == ",") {
            var cc = cc_data.substring(0, cc_data.length - 1);
            $('#cc_list').val(cc);
        }
        var to_data = $('#to').val();
        if (to_data.charAt(to_data.length - 1) == ",") {
            var to = to_data.substring(0, to_data.length - 1);
            $('#to').val(to);
        }
    }
    // SLA Stop
    function change_formaction(sla_form){
        if(sla_form.sla_dropdown.value=='slac'){
            sla_form.action="/ticket/sla/{{ticket.id}}"
        } else if(sla_form.sla_dropdown.value=='slav'){
            sla_form.action="/ticket/slav/{{ticket.id}}"
        }
    }
    function fetch_worklog_history(worklog_id){
        $('#work_log_id').val(worklog_id);
        $.ajax({
            url:"/ticket/worklog_reply/"+worklog_id+"/",
            type:"GET",
            dataType:"json",
            success : function(data){
                remark = data.signature+'\n ________________________________________<br/>'+data.remark;
                $('#worklog_body').data("wysihtml5").editor.setValue(remark)
                $('#worklog_cc_list').val(data.cc_list);
            },
        });
    }
    function create_work_log_history(ticket_id){
        var form_data = new FormData();
        var attachment_data = $('#worklog_attachment')[0].files[0];
        var work_log_id = $('#work_log_id').val();
        data_val = {
            'subject': $('#worklog_subject').val(),
            'body': $('#worklog_body').val(),
            'to_list': $('#to_worklog').val(),
            'cc_list': $('#worklog_cc_list').val(),
            'visibility': $('#worklog_visibility').val(),
            'ticket_id': ticket_id,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
        var fd = new FormData();
        fd.append('attachment_data', attachment_data)
        for(var key in data_val){
            fd.append(key, data_val[key]);
        }
        if ($('#worklog_body').val()) {
            if ($('#to_worklog').val().length > 0) {
                $('#checked_error_worklog').hide();
                $.ajax({
                    url:"/ticket/worklog_reply/"+work_log_id+"/",
                    type:"POST",
                    data: fd,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        if (data.ticket_id)
                            document.location.href = "/ticket/"+data.ticket_id+"/details/";
                        else
                            document.location.href = "/";
                    }
                });
            } else {
                $('#checked_error_worklog').show();
                $('#checked_error_worklog').text('Please fill out To field ');
            }
        } else {
            $('#checked_error_worklog').show();
            $('#checked_error_worklog').text('Please fill out mail body ');
        }
    }
    // relate ticket
    function is_ticket_id(){
        if($('#relate').val()){
            search_related_ticket();
            $('#related_tickets_view').modal('show');
            $('#validate_ticket_id').hide();
        }
        else{
            $('#validate_ticket_id').show();
        }
    }
    // search related ticket id
    function search_related_ticket(){
        $.ajax({
            url:"/search/ticket/",
            type:"POST",
            dataType:"json",
            data:{
                'ticket' : $("#relate").val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success : function(data){
                data_list = []
                if(data.length > 0){
                    for (i=0; i<data.length; i++){
                        data_list.push([data[i].ticketid, data[i].status])
                    }
                }
                $('#fielder').dataTable({
                    'destroy': true,
                    'aaData': data_list,
                    "columns": [
                        { "": "ticketid"},
                        { "": "status" },
                        { "": "", "bSortable": false, }
                    ],
                    "columnDefs": [ {
                        "targets": 2,
                        "data": null,
                        "defaultContent": "<input name='ticket_search' type='radio'>"
                    }]
                });
            }
        });
    }
    $('#update_related_ticket').click(function() {
        $('#relate_ticket').attr('disabled', false);
    });
    $('#fielder').on('click', 'td', function() {
        var th = $(this).closest('table').find('th').eq( this.cellIndex );
        if (th.html() == "Choose") {
            var ticket_id = $(this).prev().prev().html();
            $("#relate").val(ticket_id);
        }
    });
    // change_category
    function ticket_category_change(cust_id, tick_cat_id, tick_sub_cat_id){
        change_category(cust_id, tick_cat_id);
        change_subcategory(tick_cat_id, tick_sub_cat_id);
    }
    function change_category(cust_id, cat_id){
        $('#tick_category option:gt(0)').remove().end();
        $.ajax({
            url :"/category/enduser",
            type:"POST",
            data:{
                custid: cust_id,
                csrfmiddlewaretoken:'{{csrf_token}}'},
            success:function(data){
                cat_list = JSON.parse(data);
                for (var i in cat_list){
                    $("#tick_category").append($('<option>', {value:cat_list[i].pk, text:cat_list[i].fields['name']}));
                }
                if (cat_id) {
                    $('#tick_category').val(cat_id);
                }
            },
            error: function(xhr,errmsg,err){
                console.log(xhr);
            }
        });
    }
    function change_subcategory(ticket_cat_id, sub_cateid) {
        $('#ticket_sub_category option:gt(0)').remove().end()
        $.ajax({
            url :"/category/enduser",
            type:"POST",
            data:{catty: ticket_cat_id,
            csrfmiddlewaretoken:'{{csrf_token}}'},
            success:function(data){
                cat_list = JSON.parse(data);
                for (var i in cat_list){
                    $("#ticket_sub_category").append($('<option>', {value:cat_list[i].pk, text:cat_list[i].fields['name']}));
                }
                if (sub_cateid) {
                    $('#ticket_sub_category').val(sub_cateid);
                }
            },
            error: function(xhr,errmsg,err){
                console.log(xhr);
            }
        });
    }
    (function ($, $win) {
        'use strict';
        $( document ).ready(function() {
            var notAllowedFiles = ["exe", "rar", "dll"];
            $('.worklog_image').bind('change', function() {
                var validFileStatus = 0;
                var ext = $('.worklog_image').val().split('.').pop().toLowerCase();
                if(this.files[0].size>10000000){
                    $(".worklog_error_msg").html('Upload error try again,  Check your file size (maximum 10mb is allotted)')
                    $('.worklog_image').val("")
                    validFileStatus = 1;
                }
                if(notAllowedFiles.indexOf(ext)!=-1){
                    $(".worklog_error_msg").html('Upload error try again, exe,rar,dll file types are not allowed')
                    $('.worklog_image').val("")
                    validFileStatus = 1;
                }
                if(validFileStatus!=1){
                    $(".worklog_error_msg").empty()
                }
            });
            $('.send_mail_image').bind('change', function() {
                var validFileStatus = 0;
                var ext = $('.send_mail_image').val().split('.').pop().toLowerCase();
                if(this.files[0].size>10000000){
                    $(".error_msg_send_mail").html('Upload error try again,  Check your file size (maximum 10mb is allotted)')
                    $('.send_mail_image').val("")
                    validFileStatus = 1;
                }
                if(notAllowedFiles.indexOf(ext)!=-1){
                    $(".error_msg_send_mail").html('Upload error try again, exe,rar,dll file types are not allowed')
                    $('.send_mail_image').val("")
                    validFileStatus = 1;
                }
                if(validFileStatus!=1){
                    $(".error_msg_send_mail").empty()
                }
            });
            $('.add_attachment_image').bind('change', function() {
                var validFileStatus = 0;
                var ext = $('.add_attachment_image').val().split('.').pop().toLowerCase();
                if(this.files[0].size>10000000){
                    $(".error_msg_add_attachment").html('Upload error try again,  Check your file size (maximum 10mb is allotted)')
                    $('.add_attachment_image').val("")
                    validFileStatus = 1;
                }
                if(notAllowedFiles.indexOf(ext)!=-1){
                    $(".error_msg_add_attachment").html('Upload error try again, exe,rar,dll file types are not allowed')
                    $('.add_attachment_image').val("")
                    validFileStatus = 1;
                }
                if(validFileStatus!=1){
                    $(".error_msg_add_attachment").empty()
                }
            });
        });
    }(jQuery, jQuery(window)));
    function remove_attachments(attachment_id){
        $('#confirm_msg').html("<strong>Are you sure want to remove attachments?</strong>");
        $('#confirm_type').val(attachment_id);
        $('#confirm_box').modal('toggle');
        return false;
    }
    function submit_ok() {
        if ($('#confirm_type').val()) {
            document.location.href = "/attachment/delete/"+$('#confirm_type').val();
        }
    }
    function validate_url() {
        var tool_url = document.getElementById("tool_url").value;
        var pattern = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
        if (pattern.test(tool_url)) {
            return true;
        }
        else{
            $('#url_error_section').html("Url is not in the required format(eg: http://www.example.com)");
            $('#url_error_section').show(100);
            return false;
        }
    }
    function validate_ip() {
        var security_ip = document.getElementById("security_ip").value;
        var pattern = /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;
        if (pattern.test(security_ip)) {
            return true;
        }
        else{
            $('#ip_error_section').html("IP is not Valid");
            $('#ip_error_section').show(100);
            return false;
        }

    }
</script>
<script type="text/javascript">
    $('#zendesk_solved').on('click', function(e){
        e.preventDefault();
        $("#comment_solve").removeAttr("style");
        $(".zendesk_fa-spinner").show();
        $.ajaxSetup({
            beforeSend: function () {
            },
            complete: function () {
                $(".zendesk_fa-spinner").hide();
            }
        });
        $.ajax({
            // url :"{{ zendesk_url }}",
            url: "/admin_settings/zendesk_status/"+$('#zendesk_id').val()+"/",
            type:"GET",
            dataype:"json",
            data: {
                'oneconsole_ticket': "{{ ticket.id }}",
            },
            success:function(data){
                $("#modal_confirm").empty();
                $("#zendesk_status").modal('show');
                if (data.error) {
                    $("#modal_confirm").append("<div class='alert alert-danger'>Record Not Found <strong>!</strong> .</div>");
                    $("#modal_confirm_footer").hide();
                }
                else{
                    if(data.status == "closed") {
                        $("#modal_confirm").append("<div class='alert alert-danger'>This ticket already <strong>"+data.status+"!</strong> .</div>");
                        $("#modal_confirm_footer").hide();
                    } else if (data.status == "Error"){
                        $("#modal_confirm").append("<div class='alert alert-danger'>Zendesk Customer does not exist.</div>");
                        $("#modal_confirm_footer").hide();
                    } else {
                        $('#status').val(data.status);
                        $("#status_label").text(data.status);
                        $("#modal_confirm").append("<div class='alert alert-warning'>This ticket is in <strong>"+data.status+" status.</strong> Do you want to solve this ticket?.</div>");
                        $("#modal_confirm_footer").show();
                    }
                }
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).on('click', '#close_btn' ,function(){
        $(".rightside .zendesk_message_alert").remove();
    });
</script>
<script type="text/javascript">
    var notify = function(){
        $.ajax({
            // url :"{{ zendesk_update_status_url }}",
            url:"/admin_settings/zendesk_update_status/"+$('#zendesk_id').val()+"/",
            type:"GET",
            dataype:"json",
            data: {
                'oneconsole_ticket': "{{ ticket.id }}",
            },
            success:function(data){
                if (data.success == "success") {
                    $(".rightside").append("<div id='floating-top-right' class='zendesk_message_alert floating-container' style='margin-top:4%'><div class='alert-wrap in animated jellyIn'><div role='alert' class='alert alert-purple'><button class='close' id='close_btn' type='button' class='close'><i class='fa fa-times-circle'></i></button><div class='media'><div class='media-body'><h4 class='alert-title'></h4><p class='alert-message'>"+ data.message +"</p></div></div></div></div></div>");
                }
            }
        });
    };
    if ($('#zendesk_log').length != 0){
        var baseinterval = setInterval(notify, 60000);
    }
    $('#zendesk_log').on('click', function(e){
        e.preventDefault();
        $(".spinner_log").show();
        clearInterval(baseinterval);
        $.ajaxSetup({
                beforeSend: function () {
            },
            complete: function () {
                $(".spinner_log").hide();
                if ($('#zendesk_log').length != 0){
                    var baseinterval = setInterval(notify, 60000);
                }
            }
        });
        $.ajax({
            // url :"{{ zendesk_log_url }}",
            url: "/admin_settings/zendesk_log/"+$('#zendesk_id').val()+"/",
            type:"GET",
            dataype:"json",
            data: {
                'oneconsole_ticket': "{{ ticket.id }}",
            },
            success:function(data){
                $("#modal_log").empty();
                $("#zendesk").modal('show');
                data = data.reverse()
                if (data.error) {
                    $("#modal_log").append("<div class='alert alert-danger'>Record Not Found <strong>!</strong> .</div>");
                } else {
                    $.each(data, function(idx, comment) {
                        if(idx != 0)
                        {
                            var merge_status = comment.merged == 1 ? "<span class='badge badge-success pull-right'>Synced</span>" : "<label class='log_merge_btn checkbox-inline pull-right'><input type='checkbox' name='comment_merge' value='"+ comment.id +"'></label>";
                            var attachments = comment.attachments[0] == null ? "" : "<a type='text/html' class='btn btn-success btn-rounded btn-labeled btn-xs fa fa-paperclip' target='_blank' href='"+comment.attachments[0].content_url+"'><span class='text'>"+ comment.attachments[0].file_name+"</span></a>";
                            var element = $("#modal_log").append("<div class='timeline'><div class='timeline-entry'><div class='timeline-stat'><div class='timeline-icon bg-info'><i class='fa fa-comment fa-lg'></i></div><div class='timeline-time mar-rgt'>"+ comment.created_at +" </div></div><div class='timeline-label'><p class='mar-no pad-btm text-info'><span class='text-semibold'>"+ comment.author_email +"</span>"+ merge_status +"</p><p>"+ comment.body +"</p><p class='mar-top'>"+ attachments +"</p></div></div></div>");  
                        }
                    });
                    if (data[0].ticket_priority != null){
                        $("#zendesk_ticket_priority").text("Ticket Priority: "+ data[0].ticket_priority);
                        $("#zendesk_ticket_priority").show()
                    }
                    if (data[0].ticket_type != null){
                        $("#zendesk_ticket_type").text("Ticket Type: "+ data[0].ticket_type);
                        $("#zendesk_ticket_type").show()
                    }
                }
            }
        });
    });
</script>
<script type="text/javascript">
  /* Upload option disbled for zendesk log */
    if (($("#log_type").val()) =="zendesk_log"){
        $("#image").hide();
        $('#zendesk_log_type').show();
    }
    $("#log_type").on('change', function(){
        if(($(this).val())=="zendesk_log"){
            $("#image").hide();
            $('#zendesk_log_type').show();

        } else {
            $("#image").show();
            $('#zendesk_log_type').hide();
        }
    });
</script>
<script type="text/javascript">
    $('#comment_solve_btn').on('click', function(e){
        e.preventDefault();
        if ($('#comment_solve').val().trim() == ''){
            $('#comment_solve').attr('style', "border: 1px solid red !important");
        } else {
            var ticket_status = $('#status').val().trim();
            $(".zendesk_fa-spinner").show();
            $.ajaxSetup({
                beforeSend: function () {
                    $('#zendesk_status1').modal('hide');
                },
                complete: function () {
                    $(".zendesk_fa-spinner").hide();
                }
            });
            $.ajax({
                url :$('#zendesk_comment_form').attr('action'),
                type:"POST",
                dataype:"json",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'comment': $('#comment_solve').val(),
                    'oneconsole_ticket': "{{ ticket.id }}",
                    'ticket_status': ticket_status,
                },
                success:function(data){
                    if (data.success == "success") {
                        location.reload();
                    }
                    else {
                        location.reload();
                    }
                }
            });
        }
    });
</script>
<script type="text/javascript">
    function etx_ticket_details(){
        var ticket_id = $('#tkt_id').val();
        var ext_ticketid = $('#extr_tkt').val();
        ext_ticketid = ext_ticketid.trim();
        if(ext_ticketid != ""){
            $('#exttkt_loader').show();
            $.ajax({
                url:"/external_sys_tkt_details/",
                type: "POST",
                dataType:"json",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    ticket_id:ticket_id,
                    ext_ticketid:ext_ticketid
                },
                success: function(data){
                    $('#exttkt_loader').hide();
                    $('#extr_ticket_area').hide();
                    $('#ticket_alert').html('Ticket has been related with external system ticket number - <strong>'+ext_ticketid +'</strong>');
                    //$('#message_box').addClass('alert-info');
                    $('#exttkt_id').val(ext_ticketid);
                    $('#message_box').hide();
                    $('#ext_tkt_display').show();
                },
                error: function () {
                    $('#exttkt_loader').hide();
                    $('#message_box').html('Not able to relate external ticket');
                    $('#message_box').addClass('alert-danger');
                    $('#message_box').show();
                }
            });
        }
        else{
            $('#exttkt_loader').hide();
            $('#message_box').html('Please enter valid ticket number');
            $('#message_box').addClass('alert-danger');
            $('#message_box').show();
        }
    }
    function update_ext_ticket(){
        var ticket_id = $('#tkt_id').val();
        var ext_ticketid = $('#exttkt_id').val();
        $('#extr_tkt').val(ext_ticketid);
        $('#ext_tkt_display').hide();
        $('#extr_ticket_area').show();
    }

</script>

