{% load humanize %}
{% load zone %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Oneconsole | Dashboard</title>
    {% include "components/asset_css.html"%}
    <link rel="stylesheet" type="text/css" href="/static/asset/nifty.min.css">
    <link rel="stylesheet" type="text/css" href="/static/asset/bootstrap-select.min.css">
     <style>
/*.list-info li label {
    width: 100px;
}*/
.clb{
  display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: bold;
}

    </style>
  </head>
  <body class="fixed" style="font-size:13px">

    {% if "Customer_Dashboard" in request.session.logged_user_priv %}
      {% include "components/cust_header.html"%}
  {% else %}
      {% include "components/header.html"%}
  {% endif %}

        <div class="wrapper">
          {% include "side_bar/sidebar.html"%}

          <div class="rightside">
            <div class="page-head" style="margin-top:10px">
                <h1 class="text-thin">Activation Requests | <small>Request List</small></h1>
                <ol class="breadcrumb">
                   <li>You are here:</li>
                    <li><a href="/">Home</a></li>
                    <li class="active">Activation Requests</li>
                </ol>
            </div>

            <div class="content">

              <div class="row col-sm-12">



                <div class="panel">
                  <div class="panel-heading">
                    <div class="panel-control">
                      <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#demo-tabs-box-1" aria-expanded="true">Pending Request</a>
                        </li>
                        <li class=""><a data-toggle="tab" href="#demo-tabs-box-2" aria-expanded="false">Activation History</a>
                        </li>
                      </ul> 
                    </div>
                    <h3 class="panel-title">Activation Request</h3>
                  </div>
                  <div class="panel-body">
                    <div class="tab-content">
                      <div id="demo-tabs-box-1" class="tab-pane fade active in">
                        <table class="table table-striped" id="table_id">
                          <thead>
                            <th>Summary</th>
                            <th>Ticket</th>
                            <th>Customer</th>
                            <th>Host</th>
                            <th>Module</th>
                            <th></th>
                          </thead>
                          <tbody>
                            {% for act in requested %}
                            <tr>
                              <td>{{act.summary}}</td>
                              <td>{{act.ticket}}</td>
                              <td>{{act.customer}}</td>
                              <td>{{act.host}}</td>
                              <td>{{act.module}}</td>
                              <td><a href="/customer/services/activation/{{act.id}}" class="btn btn-info"><l class="fa fa-edit"></l></td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <div id="demo-tabs-box-2" class="tab-pane fade">
                        <table class="table table-striped" id="table_id">
                          <thead>
                            <th>Summary</th>
                            <th>Ticket</th>
                            <th>Customer</th>
                            <th>Host</th>
                            <th>Module</th>
                            <th></th>
                          </thead>
                          <tbody>
                            {% for act in activations %}
                            <tr>
                              <td>{{act.summary}}</td>
                              <td>{{act.ticket}}</td>
                              <td>{{act.customer}}</td>
                              <td>{{act.host}}</td>
                              <td>{{act.module}}</td>
                              <td><a href="/customer/services/activation/{{act.id}}" class="btn btn-info"><l class="fa fa-edit"></l></td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>


            </div>
          </div>
        </div>





{% if messages %}
<div id="floating-top-right" class="floating-container" style="margin-top:4%">
{% for message in messages %}
  <div class="alert-wrap in animated jellyIn">
    <div class="alert alert-success" role="alert">
      <button class="close" type="button">
      <i class="fa fa-times-circle"></i>
      </button>
      <div class="media">
        <div class="media-body">
          <h4 class="alert-title"></h4>
          <p class="alert-message"><strong>{{ message|safe }}</strong></p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}





 





    {% include "components/footer.html"%}
    {% include "components/service_request.html"%}
    <script type="text/javascript" src="/static/asset/nifty.min.js"></script>
    <script>
    $(".close").click(function () { 
        $("div").remove('.alert-wrap'); 
    }); 
    $("#table_id").dataTable();
    $("#controlpanel").addClass("active");
    $("#controlpanel_block").css('display','block');
    $("#activation").addClass("active");
    </script>



    </body>
</html>