{% load humanize %}
{% load zone %}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Oneconsole | Dashboard</title>
    {% include "components/css.html"%}
    <link rel="stylesheet" type="text/css" href="/static/customer/bootstrap-datetime.min.css">
    <style>
.list-info li label {
    width: 100px;
}
.clb{
  display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: bold;
}
    </style>
    <script type="text/javascript" src="/static/customer/Chart.min.js"></script>
  </head>
  <body class="fixed" style="font-size:13px">
            <div class="content">
                <div class="panel">
                  <div class="panel-heading">
                    <p class="panel-title">Usage details</p>
                  </div>
                  <div class="panel-body">
                    {% if package %}
                    <div class="row">
                      <div class="col-sm-12">
                        <br>
                        <div class="col-sm-6">
                          <dl class="dl-horizontal">
                            <dt>Package Hours :</dt>
                            <dd>{{package.package.hours|hour_cal}}</dd><br>
                            <dt>Subscribed on :</dt>
                            <dd>{{package.subscribed_date}}</dd><br>
                            <dt>Package Name :</dt>
                            <dd>{{ package.package }}</dd>
                          </dl>
                        </div>
                        <div class="col-sm-6">
                          <dl class="dl-horizontal">
                            <dt>Remaining Hours :</dt>
                            <dd>{{package.remaining|hour_cal}}</dd><br>
                            <dt>Validity :</dt>
                            <dd>{{package.ending_date}}</dd><br>
                            <dt>Subscribed on :</dt>
                            <dd>{{ package.subscribed_date }}</dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                 
                   
                  <span class="h4">Usage History</span>
                  <hr> {% endif %}
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="panel panel-info panel-colorful" style="background-color: #3498db;color: white;">
                        <div class="panel-body text-center">

                          <p class="text-uppercase mar-btm text-sm">Today</p>
                          
                          <i class="fa fa-ticket fa-3x">{{count_day}}</i>
                          <hr>
                          <p class="h4 text-thin">{{total_day|hour_cal}}</p>
                          <!-- <small><span class="text-semibold"></span>Hours</small> -->
                        </div>
                      </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="panel panel-success panel-colorful" style="background-color: #5cb85c;color: white;">
                        <div class="panel-body text-center">

                          <p class="text-uppercase mar-btm text-sm">Last 7 Days</p>
                          
                          <i class="fa fa-ticket fa-3x">{{count_week}}</i>
                          <hr>
                          <p class="h4 text-thin">{{total_week|hour_cal}}</p>
                          <!-- <small><span class="text-semibold"></span>Hours</small> -->
                        </div>
                      </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="panel panel-success panel-colorful" style="background-color: #f0ad4e;color: white;">
                        <div class="panel-body text-center">

                          <p class="text-uppercase mar-btm text-sm">This Month</p>
                          
                          <i class="fa fa-ticket fa-3x">{{count_month}}</i>
                          <hr>
                          <p class="h4 text-thin">{{total_month|hour_cal}}</p>
                          <!-- <small><span class="text-semibold"></span>Hours</small> -->
                        </div>
                      </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="panel panel-primary panel-colorful" style="background-color: #428bca;color: white;">
                        <div class="panel-body text-center">

                          <p class="text-uppercase mar-btm text-sm">Last Month</p>
                          
                          <i class="fa fa-ticket fa-3x">{{count_past_month}}</i>
                          <hr>
                          <p class="h4 text-thin">{{past_total|hour_cal}}</p>
                          <!-- <small><span class="text-semibold"></span>Hours</small> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
            </div>

    {% include "components/customer_footer.html"%}
    <script type="text/javascript" src="/static/customer/ProgressBar.min.js"></script>
    </body>
</html>

