{% load humanize %}
{% load zone %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Oneconsole | Dashboard</title>
    {% include "components/css.html"%}
  </head>
  <body class="fixed" style="font-size:13px">

    {% include "components/header.html"%}

        <div class="wrapper">
          {% include "side_bar/sidebar.html"%}

          <div class="rightside">
            <div class="page-head" style="margin-top:10px">
                <h1 class="text-thin">Dashboard  <small></small></h1>
                <ol class="breadcrumb">
                   <li>You are here:</li>
                    <li><a href="/">Home</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </div>

            <div class="content">

<!-- content goes here


goes here


goes here

 -->             

            </div>
          </div>
        </div>
    {% include "components/footer.html"%}
    </body>
</html>